{% extends "base.html" %}

{% block imports %}
    <link rel="import" href="/static/components/paciente-info.html">
    <link rel="import" href="/static/components/historia-clinica/historia-clinica.html">
    <link rel="import" href="/static/bower_components/vaadin-combo-box/vaadin-combo-box.html">
{% endblock imports %}

{% block content %}
    <paciente-info paciente='{{ paciente }}' full-width></paciente-info>
    <br>
    <historia-clinica formato='{{ formato }}'></historia-clinica>
{% endblock content %}
