{% extends "base.html" %}
{% load i18n %}

{% block imports %}
    <link rel="import" href="/static/bower_components/iron-list/iron-list.html">
    <link rel="import" href="/static/components/paciente-info.html">
{% endblock imports %}

{% block css %}
    <custom-style>
        <style>
            iron-list {
                height: calc(100vh - 100px);
            }

            paciente-info {
                width: 410px;
                height: 245px;
            }
        </style>
    </custom-style>
{% endblock css %}

{% block content %}
    <div class="list-container">
        <iron-list items='{{ pacientes }}' grid>
            <template>
                <paciente-info paciente="[[item]]"></paciente-info>
            </template>
        </iron-list>
    </div>
{% endblock content %}