{% extends "base.html" %}
{% load i18n %}

{% block imports %}
    <link rel="import" href="/static/bower_components/iron-list/iron-list.html">
    <link rel="import" href="/static/components/paciente-info.html">
{% endblock imports %}

{% block css %}
    <custom-style>
        <style>
            iron-list {
                height: calc(100vh - 150px);
            }

            .paciente-info {
                width: 410px;
                height: 245px;
            }
        </style>
    </custom-style>
{% endblock css %}

{% block content %}
    <header class="header-title">
        <h1>{% trans "resultados de la busqueda" %}</h1>
    </header>

    <iron-list items='{{ pacientes }}' grid>
        <template>
            <div class="paciente-info">
                <paciente-info paciente="[[item]]"></paciente-info>
            </div>
        </template>
    </iron-list>

{% endblock content %}