{% extends "base.html" %}
{% load rest_framework i18n static common_tags %}

{% block imports %}
    <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/static/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
    <link rel="import" href="/static/bower_components/paper-dialog/paper-dialog.html">
    <link rel="import" href="/static/components/ig-iron-ajax.html">
    <link rel="import" href="/static/components/paciente-info.html">
    <link rel="import" href="/static/components/orden/servicios-orden.html">
    <link rel="import" href="/static/components/orden/orden-form.html">
    <link rel="import" href="/static/bower_components/apollo-client/graphql-query.html">
{% endblock imports %}

{% block css %}
    <link rel='stylesheet' href='{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}' />
    <custom-style>
        <style>
            .row {
                display: flex;
            }

            .row > * {
                flex: 1;
                margin-right: 10px;
            }

            .no-flex {
                flex: 0;
            }
        </style>
    </custom-style>
{% endblock css %}

{% block content %}
    <header class="header-title">
        <h1>{% trans "Orden" %}</h1>
    </header>

    <ig-iron-ajax id="request" method="POST" url="{% url 'pacientes:ordenes' paciente_id %}" 
        handle-as="json" content-type="application/json">
    </ig-iron-ajax>

    <div class="card">
        {{ cita }}
        <div class="row">
            <paciente-info class="no-flex" flat paciente="{{ paciente }}"></paciente-info>
            <div>
                <orden-form instituciones='{{ orden_s.fields.institucion|to_json }}'
                    afiliaciones='{{ orden_s.fields.afiliacion|to_json }}'
                    tipos-usuario='{{ orden_s.fields.tipo_usuario|to_json }}'>
                </orden-form>
            </div>
        </div>
        <br>
        <servicios-orden></servicios-orden>
        <br>
        <paper-button id="save" {% if edit %}hidden{% endif %}>{% trans "Guardar" %}</paper-button>

        {% if edit %}
        <graphql-query id="ordenQuery" variables='{"id": "{{ orden }}"}' hold>
            query ordenQuery($id: ID!){
                orden(id: $id) {
                    id
                    afiliacion
                    tipoUsuario
                    institucion { id }
                    plan { id }
                    acompanante {
                        asistio
                        nombre
                        direccion
                        telefono
                    }
                    serviciosRealizar {
                        edges {
                            node {
                                numeroSesiones
                                sesionesCumplidas
                                valor
                                coopago
                                servicio { id, nombre }
                                sesiones {
                                    edges {
                                        node {
                                            id
                                            fecha
                                            estado
                                            estadoDisplay
                                            autorizacion
                                            fechaAutorizacion
                                            medico { id, nombreCompleto }
                                            sucursal { id, nombre }
                                        }
                                    }
                                }
                            }
                        }
                    }    
                }
            }
        </graphql-query>          
        {% endif %}
    </div>
{% endblock content %}

{% block dialogs %}
    <servicio-form cita="{% firstof cita '' %}"></servicio-form>
    <paper-dialog id="calendario" modal style="width: 75%; height: 90%;">
        <h2>{% trans "Citas" %}</h2>

        <div style="height: 80%">
            <div id="calendar"></div>
        </div>
        <div class="buttons">
            <paper-button dialog-dismiss>{% trans "Cerrar" %}</paper-button>
        </div>
    </paper-dialog>
{% endblock dialogs %}

{% block js %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/locale/es.js' %}"></script>
    <script>
        const request = document.getElementById('request');
        const ordenForm = document.querySelector('orden-form');
        const serviciosOrden = document.querySelector('servicios-orden');
        const servicioForm = document.querySelector('servicio-form');

        ordenForm.addEventListener('institucion-plan-changed', function(e) {
            let institucion = e.detail.institucion
            let plan = e.detail.plan;

            if(institucion) {
                servicioForm.institucion = institucion.value;                
                serviciosOrden.institucion = institucion.value;                
            } 

            if(plan) servicioForm.plan = plan.node.id;
        });

        document.getElementById('save').addEventListener('click', function(e) {
            let ordenValid = ordenForm.validate();
            let serviciosValid = serviciosOrden.validate();
            if( ordenValid && serviciosValid) {
                let orden = serializeOrden(ordenForm.value, serviciosOrden.servicios);
                request.body = orden;
                request.generateRequest();
            }
            else {
                let msg = '';
                if (!serviciosValid) msg = 'Debes agregar por lo menos un servicio.';
                this.dispatchEvent(new CustomEvent('notify-toast-error', { 
                    bubbles: true, composed: true, detail: {
                        text: `Hubo errores en el formulario por favor verifica. ${msg}`
                    }
                }));
            }      
        });

        request.addEventListener('response', function(e) {
            console.log(e);
            let response = e.detail.response;
            window.location = response.orden_link;
        });

        request.addEventListener('error', function(e) {
            console.log(e);
        });

        function serializeOrden(ordenData, serviciosData) {
            console.log(ordenData);
            let orden = {
                tipo_usuario: ordenData.tipoUsuario.value,
                institucion: ordenData.institucion.value,
                afiliacion: ordenData.afiliacion.value,
                plan: ordenData.plan.node.id,
                acompanante: {
                    asistio: ordenData.asistio,
                    nombre: ordenData.nombreCompleto,
                    direccion: ordenData.direccion,
                    telefono: ordenData.telefono
                },
                servicios_realizar: serializeServicios(serviciosData)
            }
            console.log('datos a enviar');
            console.log(orden);
            return orden;
        }

        function serializeServicios(serviciosData) {
            console.log('serialize servicios');
            console.log(serviciosData);

            let servicios = [];
            serviciosData.forEach(function(servicioD) {
                let sesiones = [];
                let servicioNode = servicioD.node;
                servicioNode.sesiones.edges.forEach(function(sesionD) {
                    let sesionNode = sesionD.node;
                    let sesion = {
                        estado: sesionNode.estado,
                        medico: sesionNode.medico.id,
                        sucursal: sesionNode.sucursal.id,
                        fecha: sesionNode.fecha,
                        autorizacion: sesionNode.autorizacion,
                        fecha_autorizacion: sesionNode.fechaAutorizacion || null
                    };

                    if (sesionNode.cita) sesion.cita = sesionNode.cita;

                    sesiones.push(JSON.parse(JSON.stringify(sesion)));
                }, this);

                let servicio = {
                    servicio: servicioNode.servicio.id,
                    valor: servicioNode.valor,
                    coopago: servicioNode.coopago,
                    numero_sesiones: servicioNode.numeroSesiones,
                    sesiones: sesiones
                };

                servicios.push(JSON.parse(JSON.stringify(servicio)));
            }, this);

            return servicios;
        }

        {% if edit %}
        const ordenQuery = document.getElementById('ordenQuery');
        
        ordenQuery.execute().result().then(result => {
            serviciosOrden.servicios = result.data.orden.serviciosRealizar.edges;
            ordenForm.value = deserializeOrden(result.data.orden);
            serviciosOrden.selectServicioByIndex(0);
            ordenForm.readonly= true;
        });

        function deserializeOrden(ordenData) {
                let value = {
                    institucionValue: ordenData.institucion.id,
                    planValue: ordenData.plan.id,
                    afiliacionValue: ordenData.afiliacion,
                    tipoUsuarioValue: ordenData.tipoUsuario,
                    asistio: ordenData.acompanante.asistio,
                    nombreCompleto: ordenData.acompanante.nombre,
                    direccion: ordenData.acompanante.direccion,
                    telefono: ordenData.acompanante.telefono
                }
                return value;
            }
        {% endif %}
    </script>

    <script>
        const calendar = $('#calendar');
        const medicosNode = document.getElementById('medicos');
        const sucursalesNode = document.getElementById('sucursales');
        const citaDialog = document.getElementById('cita-dialog');
        const calendarioDialog = document.getElementById('calendario');
        var medico = 0, sucursal = 0, servicio, sesion;
        let bEvent;

        calendar.fullCalendar({
            header: {
                'left': 'prev,next, today',
                'center': 'title',
                'right': 'agendaWeek,agendaDay'
            },
            height: 'parent',
            allDaySlot: false,
            slotLabelFormat: 'h(:mm)a',
            navLinks: true,
            selectable: true,
            eventSources: [
                {
                    url: '{% url "agenda:horario-atencion" %}',
                    headers: {ACCEPT: 'application/json'},
                    data: function() {
                        return dataEvents();
                    },
                    rendering: 'background'
                },
                {
                    url: '{% url "agenda:citas" %}',
                    headers: {ACCEPT: 'application/json'},
                    data: function() {
                        return dataEvents();
                    }
                }
            ],
            dayClick: function(date, jsEvent, view) {
                dayClick(date, jsEvent, view);
            },
            selectOverlap: function(event) {
                if (calendar.fullCalendar('getView').name != 'month') {
                    if (event.source.rendering == 'background') {
                        seleccionCita(event);
                    }
                }
            }
        });

        function dayClick(date, event, view) {
            if (view.name == 'month') {  // If click on month view change to agendaWeek on the day clicked
                calendar.fullCalendar('changeView', 'agendaWeek', date.format());
            }
        }

        serviciosOrden.addEventListener('open-calendar', function(e) {
            console.log(e);
            medico = e.detail.servicio.item.medico.value;
            sucursal = e.detail.sesion.item.sucursal.value;
            servicio = e.detail.servicio.index;
            sesion = e.detail.sesion.index;
            calendarioDialog.open();
            calendar.fullCalendar('refetchEvents');
        });

        function dataEvents() {
            return {
                medico: medico,
                sucursal: sucursal
            }
        }

        function seleccionCita(cita) {
            cita.fecha = cita.start.format('MM/DD/YYYY');
            cita.hora = cita.start.format('hh:mm A');
            serviciosOrden.updateCita(servicio, sesion, cita);
            calendarioDialog.close();
        }
    </script>
{% endblock js %}