{% extends "base.html" %}
{% load rest_framework i18n static common_tags %}

{% block imports %}
    <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/static/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/static/bower_components/paper-fab/paper-fab.html">
    <link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/static/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
    <link rel="import" href="/static/bower_components/paper-dialog/paper-dialog.html">
    <link rel="import" href="/static/bower_components/vaadin-grid/vaadin-grid.html">
    <link rel="import" href="/static/components/ig-iron-ajax.html">
    <link rel="import" href="/static/components/paciente-info.html">
    <link rel="import" href="/static/components/orden/servicios-orden.html">
    <link rel="import" href="/static/components/orden/servicios-orden2.html">
    <link rel="import" href="/static/components/orden/acompanante-form.html">
    <link rel="import" href="/static/components/orden/orden-form.html">
{% endblock imports %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/bower_components/mdl-stepper/stepper.min.css">
    <link rel='stylesheet' href='{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}' />
    <custom-style>
        <style>
            .mdl-stepper {
                max-width: none;
                width: 100%;
            }

            #servicios .servicio {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #servicios .servicio .container {
                display: flex;
                flex-wrap: wrap;
            }

            #servicios .servicio .container > * {
                margin-right: 20px;
            }

            .row {
                display: flex;
            }

            .row > * {
                flex: 1;
                margin-right: 10px;
            }

            .no-flex {
                flex: 0;
            }
        </style>
    </custom-style>
{% endblock css %}

{% block content %}
    <ig-iron-ajax id="request" method="POST" url="{% url 'pacientes:ordenes' paciente_id %}" 
        handle-as="json" content-type="application/json">
    </ig-iron-ajax>

    <div class="card">
        <div class="row">
            <paciente-info class="no-flex" flat paciente="{{ paciente }}"></paciente-info>
            <div>
                <orden-form instituciones='{{ orden_s.fields.institucion|to_json }}'
                    afiliaciones='{{ orden_s.fields.afiliacion|to_json }}'
                    tipos-usuario='{{ orden_s.fields.tipo_usuario|to_json }}'>
                </orden-form>
            </div>
        </div>
        <!-- <servicios-orden2></servicios-orden2> -->
        <servicios-orden></servicios-orden>
        <paper-button id="save">{% trans "Guardar" %}</paper-button>
    </div>
    <br>
    <paciente-info paciente='{{ paciente }}' full-width></paciente-info>
    <!--<ul class="mdl-stepper mdl-stepper--horizontal mdl-stepper--linear" id="demo-stepper-state-error">-->
    <ul class="mdl-stepper mdl-stepper--horizontal" id="demo-stepper-state-error">
        <li class="mdl-step mdl-step--editable" data-step="orden">
            <span class="mdl-step__label">
                <span class="mdl-step__title">
                    <span class="mdl-step__title-text">{% trans "Orden" %}</span>
                </span>
            </span>
            <div class="mdl-step__content">
                <iron-form>
                    <form action="{% url 'pacientes:ordenes' paciente_id %}" method="POST" enctype="application/json">
                        {% csrf_token %}
                        {% render_form orden_s template_pack='material-pack' %}
                    </form>
                </iron-form>
            </div>
            <div class="mdl-step__actions">
                <paper-button data-stepper-next>{% trans "Continuar" %}</paper-button>
            </div>
        </li>
        <li class="mdl-step mdl-step--editable" data-step="servicios">
            <span class="mdl-step__label">
                <span class="mdl-step__title">
                    <span class="mdl-step__title-text">{% trans "Servicios" %}</span>
                </span>
            </span>
            <div class="mdl-step__content">
                 {% if cita %}
                    <servicios-orden paciente="{{ paciente }}" cita="{{ cita }}"></servicios-orden>
                {% else %}
                    <servicios-orden paciente="{{ paciente }}"></servicios-orden>
                {% endif %}
            </div>
            <div class="mdl-step__actions">
                <paper-button data-stepper-next>{% trans "Continuar" %}</paper-button>
                <paper-button data-stepper-back>{% trans "Atras" %}</paper-button>
            </div>
        </li>
        <li class="mdl-step mdl-step--editable" data-step="acompanante">
            <span class="mdl-step__label">
                <span class="mdl-step__title">
                    <span class="mdl-step__title-text">{% trans "Acompañante" %}</span>
                </span>
            </span>
            <div class="mdl-step__content">
                <iron-form>
                    <form method="POST" enctype="application/x-www-form-urlencoded">
                        {% render_form acompanante_s template_pack='material-pack' %}
                    </form>
                </iron-form>
            </div>
            <div class="mdl-step__actions">
                <paper-button data-stepper-next>{% trans "Terminar" %}</paper-button>
                <paper-button data-stepper-back>{% trans "Atras" %}</paper-button>
            </div>
        </li>
        </ul>

        <paper-dialog>
            <div>
                {% trans "Debe agregar por lo menos un servicio." %}                
            </div>
            <div class="buttons">
                <paper-button  dialog-dismiss>{% trans "Cerrar" %}</paper-button>
            </div>
        </paper-dialog>
    </div>
{% endblock content %}

{% block dialogs %}
    <paper-dialog id="calendario" modal style="width: 75%; height: 90%;">
        <h2>{% trans "Citas" %}</h2>

        <div style="height: 80%">
            <div id="calendar"></div>
        </div>
        <div class="buttons">
            <paper-button dialog-dismiss>{% trans "Cerrar" %}</paper-button>
        </div>
    </paper-dialog>
{% endblock dialogs %}

{% block js %}
    <script>
        const request = document.getElementById('request');

        document.getElementById('save').addEventListener('click', function(e) {
            console.log(e);
            const ordenForm = document.querySelector('orden-form');
            const serviciosOrden = document.querySelector('servicios-orden');
            ordenForm.validate();
            // serviciosOrden.validate();

            let orden = serializeOrden(ordenForm.value, serviciosOrden.serialize());
            request.body = orden;
            request.generateRequest();
        });

        function serializeOrden(ordenData, serviciosData) {
            console.log(ordenData);
            let orden = {
                tipo_usuario: ordenData.tipoUsuario.value,
                institucion: ordenData.institucion.value,
                afiliacion: ordenData.afiliacion.value,
                plan: ordenData.plan.node.id,
                acompanante: {
                    asistio: ordenData.asistio,
                    nombre: ordenData.nombreCompleto,
                    direccion: ordenData.direccion,
                    telefono: ordenData.telefono
                },
                servicios_realizar: serviciosData
            }
            console.log(orden);
            return orden;
        }
    </script>

    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script src="/static/bower_components/mdl-stepper/stepper.min.js"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        var stepperNode = document.querySelector('.mdl-stepper');
        var stepper, forms = {};
        var serviciosForm = document.querySelector('servicios-orden');

        function getStepper() {
            if (!stepper) {
                stepper = stepperNode.MaterialStepper;
            }
        }

        // Check if MDL Component Handler is loaded.
        if (typeof componentHandler !== 'undefined') {
            // Get the MaterialStepper instance of element to control it.
            var forms = {};
            stepperNode.addEventListener('onstepnext', function(e) {
                getStepper();
                let activeStep = stepper.getActive();
                
                let form = activeStep.querySelector('.mdl-step__content iron-form');
                let valid = true;
                if (activeStep.dataset.step != "servicios") {
                    valid = form.validate();
                }
                if (valid) {
                    if (activeStep.dataset.step == "servicios") {
                        let servicios = serviciosForm.serialize();
                        if (servicios.length == 0) {
                            stepper.error("Hay errores en el formulario.");
                            document.querySelector('paper-dialog').open();
                        }
                        else {
                            forms[activeStep.dataset.step] = servicios;
                            stepper.next();
                        }
                    }
                    else {
                        forms[activeStep.dataset.step] = form;
                        stepper.next();
                    }

                    if (activeStep.dataset.step == "acompanante") {
                        console.log(forms);
                        _submitOrden();
                    }
                }
                else {
                    stepper.error("Hay errores en el formulario.");
                }
            })

            stepperNode.addEventListener('onstepback', function(e) {
                getStepper();
                stepper.back();
            });

            stepperNode.addEventListener('onsteppercomplete', function() {
                console.log("terminado");
            });

            let institucionNode = document.querySelector('*[name="institucion"]');
            institucionNode.addEventListener('selected-item-changed', function(){
                _getEmpresas(institucionNode.value);
                // _getMedicos(institucionNode.value);
            });

            // let empresaNode = document.querySelector('*[name="plan"]');
            // empresaNode.addEventListener('selected-item-changed', function(){
            //     _getServicios(empresaNode.value);
            // });

            let asistioNode = document.querySelector('*[name="asistio"]');
            asistioNode.addEventListener('checked-changed', function(e){
                let parent = e.target.parentElement;
                let inputs = parent.querySelectorAll('paper-input');
                for (let i = 0; i < inputs.length; i++) {
                    inputs[i].required = e.target.checked;
                    let label = inputs[i].label;
                    if (e.target.checked) {
                        inputs[i].label = label + '*';
                    }
                    else {
                        inputs[i].value = '';
                        if(label.substr(label.length - 1) == '*') {
                            inputs[i].label = label.substring(0, label.length - 1);
                        }
                    }
                }
            });
        } else {
            console.log("no encontrado");
            // Material Design Lite javascript is not loaded or for another  
            // reason MDL Component Handler is not available globally and
            // you can't use (register and upgrade) Stepper component at this point.
        }

        function _getEmpresas(value) {
            fetch("{% url 'servicios:planes' %}?institucion=" + value, {credentials: 'same-origin'})
                .then(function(response){
                    return response.json();
                })
                .then(function(data){
                    document.querySelector('*[name="plan"]').items = data;
                });
        }

        function _setOrdenesUrl(url) {
            let form = stepperNode.querySelector(".mdl-step[data-step='orden'] iron-form form");
            form.setAttribute('action', url);
        }

        function _submitOrden() {
            let form = forms['orden'];
            let orden = form.serializeForm();
            orden['acompanante'] = forms['acompanante'].serializeForm();
            orden['servicios_realizar'] = forms['servicios'];

            form.headers = {'X-CSRFToken': orden['csrfmiddlewaretoken']};
            form._makeAjaxRequest(orden);

            form.addEventListener('iron-form-error', function(e) {
                console.log(e.detail);
                let response = e.detail.request.response;
                if ('acompanante' in response) {
                    _setAcompananteErrors(response['acompanante']);
                    delete response['acompanante'];
                    stepper.goto(3);
                    stepper.error("Hay errores en el formulario.");
                }

                if ('servicios' in response) {
                    // _setServiciosErrors(response['servicios']);
                    delete response['servicios'];
                    stepper.goto(2);
                    stepper.error("Hay errores en el formulario.");
                }

                if (!(Object.keys(response).length === 0 && response.constructor === Object)) {
                    _setOrdenErrors(response);
                    stepper.goto(1);
                    stepper.error("Hay errores en el formulario.");
                }
            });

            form.addEventListener('iron-form-response', function(e) {
                console.log('orden creada');
                window.location = '';
            });
        }

        function _setOrdenErrors(errors) {
            let form = stepperNode.querySelector('li[data-step="orden"] iron-form');
            setFormErrors(form, errors);
        }

        function _setServiciosErrors(errors) {
            let forms = stepperNode.querySelectorAll('#servicios .servicio iron-form');

            for (let i = 0; i < errors.length; i++) {
                setFormErrors(forms[i], errors[i]);
            }

        }

        function _setAcompananteErrors(errors) {
            let form = stepperNode.querySelector('li[data-step="acompanante"] iron-form');
            setFormErrors(form, errors);
        }

        function _addServicio() {
            const template = document.getElementById('servicio-template');
            const instance = template.content.cloneNode(true);

            let serviciosDiv = document.getElementById('servicios');
            instance.querySelector('*[name="medico"]').items = medicos;
            let servicioNode = instance.querySelector('*[name="servicio"]')
            servicioNode.items = servicios_e;
            servicioNode.addEventListener('selected-item-changed', _setValorServicio);
            let valorNode = instance.querySelector('*[name="valor"]');
            valorNode.addEventListener('value-changed', _calcularTotal);
            let descuentoNode = instance.querySelector('*[name="descuento"]');
            descuentoNode.addEventListener('value-changed', _calcularTotal);
            serviciosDiv.appendChild(instance);
        }

        function _setValorServicio(e) {
            let valor = 0;
            if (e.detail.value != null) {
                valor = e.detail.value.valor;
            }

            e.target.parentElement.querySelector('*[name="valor"]').value = valor;
            _calcularTotal(e);
        }

        function _removeServicio(button) {
            const parent = button.parentElement;
            parent.parentElement.removeChild(parent);
        }

        function _calcularTotal(e) {
            let valor = 0;
            let servicios = document.getElementById('servicios').querySelectorAll('.servicio');
            for (let i = 0; i < servicios.length; i++) {
                let servicio = servicios[i];
                let _valor = servicio.querySelector('*[name="valor"]').value || 0;
                let _descuento = servicio.querySelector('*[name="descuento"]').value || 0;
                valor = valor + _valor - _descuento;
            }

            document.getElementById('total_servicios').innerHTML = Math.max(0, valor);
        }
    </script>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/locale/es.js' %}"></script>

    <script>
        const calendar = $('#calendar');
        const medicosNode = document.getElementById('medicos');
        const sucursalesNode = document.getElementById('sucursales');
        const citaDialog = document.getElementById('cita-dialog');
        // const form = citaDialog.querySelector('iron-form');
        const serviciosOrden = document.querySelector('servicios-orden');
        const calendarioDialog = document.getElementById('calendario');
        var medico = 0, sucursal = 0, servicio, sesion;
        let bEvent;

        calendar.fullCalendar({
            header: {
                'left': 'prev,next, today',
                'center': 'title',
                'right': 'agendaWeek,agendaDay'
            },
            height: 'parent',
            allDaySlot: false,
            slotLabelFormat: 'h(:mm)a',
            navLinks: true,
            selectable: true,
            eventSources: [
                {
                    url: '{% url "agenda:horario-atencion" %}',
                    headers: {ACCEPT: 'application/json'},
                    data: function() {
                        return dataEvents();
                    },
                    rendering: 'background'
                },
                {
                    url: '{% url "agenda:citas" %}',
                    headers: {ACCEPT: 'application/json'},
                    data: function() {
                        return dataEvents();
                    }
                }
            ],
            dayClick: function(date, jsEvent, view) {
                dayClick(date, jsEvent, view);
            },
            selectOverlap: function(event) {
                if (calendar.fullCalendar('getView').name != 'month') {
                    if (event.source.rendering == 'background') {
                        seleccionCita(event);
                    }
                }
            }
        });

        function dayClick(date, event, view) {
            if (view.name == 'month') {  // If click on month view change to agendaWeek on the day clicked
                calendar.fullCalendar('changeView', 'agendaWeek', date.format());
            }
        }

        serviciosOrden.addEventListener('open-calendar', function(e) {
            console.log(e);
            medico = e.detail.servicio.item.medico.value;
            sucursal = e.detail.sesion.item.sucursal.value;
            servicio = e.detail.servicio.index;
            sesion = e.detail.sesion.index;
            calendarioDialog.open();
            calendar.fullCalendar('refetchEvents');
        });

        function dataEvents() {
            return {
                medico: medico,
                sucursal: sucursal
            }
        }

        function seleccionCita(cita) {
            cita.fecha = cita.start.format('MM/DD/YYYY');
            cita.hora = cita.start.format('hh:mm A');
            serviciosOrden.updateCita(servicio, sesion, cita);
            calendarioDialog.close();
        }
    </script>
{% endblock js %}