{% extends "base.html" %}
{% load rest_framework i18n %}

{% block imports %}
    <link rel="import" href="/static/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/static/bower_components/paper-dialog/paper-dialog.html">
{% endblock imports %}

{% block content %}
    <div class="card">
        <h1>{{ VERBO }} {% trans "Paciente" %}</h1>

        <iron-form>
            <form action="{{ URL }}" method="POST" enctype="application/x-www-form-urlencoded">
            <!--<form action="{{ URL }}" method="POST" enctype="multipart/form-data">-->
                <fieldset>
                    <legend>{% trans "Datos del paciente" %}</legend>
                    {% csrf_token %}
                    {% render_form form template_pack='material-pack' %}
                </fieldset>
            </form>
        </iron-form>
        <br><br>
        <paper-button onclick="submit()">{{ VERBO }}</paper-button>

        <paper-dialog>
            <h2>{{ MSJ }}</h2>
            <h3 align="center">{% trans "¿Quieres crearle una orden?" %}</h3>
            <div class="buttons">
                <paper-button  dialog-confirm >{% trans "SI" %}</paper-button>
                <paper-button  dialog-dismiss>{% trans "NO" %}</paper-button>
            </div>
        </paper-dialog>
    </div>
{% endblock content %}

{% block js %}
    <script>
        let paciente;
        let form = document.querySelector('iron-form');
        let dialog = document.querySelector('paper-dialog');

        form.addEventListener('iron-form-presubmit', function(e) {
            this.request.method = '{{ METHOD }}'
            this.request.headers = {'X-CSRFToken': getToken()}
            console.log(this.request.body);
        });

        form.addEventListener('iron-form-error', function(e) {
            _setFormErrors(form, e.detail.request.response);
        });

        form.addEventListener('iron-form-response', function(e) {
            console.log('paciente guardado');
            paciente = e.detail.response;
            dialog.open();
        });

        dialog.addEventListener('iron-overlay-closed', function(e) {
            if(e.detail.confirmed) {
                window.location = paciente.ordenes_link;
            }
            else {
                window.location = '';
            }
        });

        function getToken() {
            return form.querySelector('input[name="csrfmiddlewaretoken"]').value;
        }

        function submit() {
            form.submit();
        }

        function _setFormErrors(form, errors) {
            for (let key in errors) {
                let input = form.querySelector('*[name=' + key + ']');
                input.errorMessage = errors[key];
                input.invalid = true;
            }
        }
    </script>
{% endblock js %}