{% extends "base.html" %}
{% load rest_framework i18n %}

{% block imports %}
    <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/static/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/static/bower_components/vaadin-grid/vaadin-grid.html">
    <link rel="import" href="/static/bower_components/paper-fab/paper-fab.html">
    <link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
{% endblock imports %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/bower_components/mdl-stepper/stepper.min.css">
    <style>
        .mdl-stepper {
            max-width: none;
            width: 100%;
        }

        #servicios .servicio {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #servicios .servicio .container{
            display: flex;
            flex-wrap: wrap;
        }

        #servicios .servicio .container > * {
            margin-right: 20px;
        }
    </style>
{% endblock css %}

{% block content %}

    <div class="card">
        <h1>{{ VERBO }} Paciente</h1>

        <ul class="mdl-stepper mdl-stepper--horizontal " id="demo-stepper-state-error">
        <li class="mdl-step mdl-step--editable" data-number="1">
            <span class="mdl-step__label">
                <span class="mdl-step__title">
                    <span class="mdl-step__title-text">{% trans "Paciente" %}</span>
                    <span class="mdl-step__title-message">{% trans "Información general" %}</span>
                </span>
            </span>
            <div class="mdl-step__content">
                <iron-form>
                    <form class="app-grid" action="{% url 'pacientes:listar' %}" method="POST" enctype="application/x-www-form-urlencoded">
                        {% csrf_token %}
                        {% render_form paciente_s template_pack='material-pack' %}
                    </form>
                </iron-form>
            </div>
            <div class="mdl-step__actions">
                <paper-button data-stepper-next>{% trans "Continuar" %}</paper-button>
            </div>
        </li>
        <li class="mdl-step mdl-step--editable" data-number="2">
            <span class="mdl-step__label">
                <span class="mdl-step__title">
                    <span class="mdl-step__title-text">{% trans "Orden" %}</span>
                </span>
            </span>
            <div class="mdl-step__content">
                <iron-form>
                    <form method="POST" enctype="application/x-www-form-urlencoded">
                        {% csrf_token %}
                        {% render_form orden_s template_pack='material-pack' %}
                    </form>
                </iron-form>
            </div>
            <div class="mdl-step__actions">
                <paper-button data-stepper-next>{% trans "Continuar" %}</paper-button>
                <paper-button data-stepper-back>{% trans "Atras" %}</paper-button>
            </div>
        </li>
        <li class="mdl-step mdl-step--editable" data-number="3">
            <span class="mdl-step__label">
                <span class="mdl-step__title">
                    <span class="mdl-step__title-text">{% trans "Servicios" %}</span>
                </span>
            </span>
            <div class="mdl-step__content">
                <template id="servicio-template">
                    <div class="servicio">
                        <div class="container">
                            {% render_form servicios_s template_pack='material-pack' %}
                        </div>
                        <paper-icon-button onclick="_removeServicio(this)" icon="my-icons:clear"></paper-icon-button>
                    </div>
                </template>
                <paper-fab mini onclick="_addServicio()" icon="my-icons:add" elevation="1"></paper-fab>
                <br>
                <div id="servicios">
                    {% csrf_token %}
                </div>
            </div>
            <div class="mdl-step__actions">
                <paper-button data-stepper-next>{% trans "Continuar" %}</paper-button>
                <paper-button data-stepper-back>{% trans "Atras" %}</paper-button>
            </div>
        </li>
        <li class="mdl-step mdl-step--editable" data-number="4">
            <span class="mdl-step__label">
                <span class="mdl-step__title">
                    <span class="mdl-step__title-text">{% trans "Acompañante" %}</span>
                </span>
            </span>
            <div class="mdl-step__content">
                <iron-form>
                    <form method="POST" enctype="application/x-www-form-urlencoded">
                        {% csrf_token %}
                        {% render_form acompanante_s template_pack='material-pack' %}
                    </form>
                </iron-form>
            </div>
            <div class="mdl-step__actions">
                <paper-button data-stepper-next>{% trans "Terminar" %}</paper-button>
                <paper-button data-stepper-back>{% trans "Atras" %}</paper-button>
            </div>
        </li>
        </ul>
    </div>
{% endblock content %}

{% block js %}
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script src="/static/bower_components/mdl-stepper/stepper.min.js"></script>
    <script>
        var stepperNode = document.querySelector('.mdl-stepper');
        var stepper;

        function getStepper() {
            if (!stepper) {
                stepper = stepperNode.MaterialStepper;
                console.log(stepper);
            }
        }

        // Check if MDL Component Handler is loaded.
        if (typeof componentHandler !== 'undefined') {
            // Get the MaterialStepper instance of element to control it.
            var forms = new Array(3);
            stepperNode.addEventListener('onstepnext', function(e) {
                getStepper();
                let activeStep = stepper.getActive();

                let valid = true;
                let form = activeStep.querySelector('.mdl-step__content iron-form');
                console.log(form.serializeForm());


                if (form.validate()) {
                    if (parseInt(activeStep.dataset.number) == 1) {
                        activeStep.setAttribute('data-step-transient-message', 'Creando el paciente!!');
                        activeStep.classList.add('mdl-step--transient');
                        form.submit();
                        let response;
                        form.addEventListener('iron-form-error', function(e) {
                            stepper.error("Hay errores en el formulario.");
                            activeStep.classList.remove('mdl-step--transient');
                            response = e.detail.request.response;
                            for (let key in response) {
                                let input = form.querySelector('*[name=' + key + ']');
                                input.errorMessage = response[key];
                                input.invalid = true;
                                input.autofocus = true;
                            }
                        });

                        form.addEventListener('iron-form-response', function(e) {
                            console.log('paciente creado');
                            activeStep.classList.remove('mdl-step--transient');
                            response = e.detail.response;
                            form.querySelector('form').setAttribute('action', response['edit_link']);
                            stepper.next();
                        });
                    }
                    else {
                        forms[parseInt(activeStep.dataset.number)] = form;
                        stepper.next();
                    }                    
                }
                else {
                    stepper.error("Hay errores en el formulario.");
                }
            })

            stepperNode.addEventListener('onstepback', function(e) {
                getStepper();
                stepper.back();
            });

            stepperNode.addEventListener('onsteppercomplete', function() {
                console.log(forms);
                form.addEventListener('iron-form-response', function(e) {
                    console.log('kjkk');
                });
                form.addEventListener('iron-form-error', function(e) {
                    console.log('error');
                });
            });

            function _addServicio() {
                const template = document.getElementById('servicio-template');
                const instance = template.content.cloneNode(true);

                let serviciosDiv = document.getElementById('servicios');
                serviciosDiv.appendChild(instance);
            }

            function _removeServicio(button) {
                const parent = button.parentElement;
                parent.parentElement.removeChild(parent);
            }

        } else {
            console.log("no encontrado");
            // Material Design Lite javascript is not loaded or for another  
            // reason MDL Component Handler is not available globally and
            // you can't use (register and upgrade) Stepper component at this point.
        }
    </script>
{% endblock js %}