<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/paper-card/paper-card.html">
<link rel="import" href="/static/bower_components/iron-image/iron-image.html">
<link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/static/my-icons.html">

<dom-module id="paciente-info">
    <template>
        <style>
            :host {
                display: block;

                --paper-card: {
                    width: var(--paciente-info-width, 400px);
                };

                --paper-card-content: {
                    display: flex;
                };
            }

            :host([full-width]) {
                --paciente-info-width: 100%;
            }

            :host([flat]) paper-card {
                box-shadow: none;
                border: 1px solid #e8e8e8;
            }

            iron-image {
                width: 150px;
                height: 150px;
                margin-right: 20px;
            }

            .info > * {
                margin: 0px;
            }
        </style>

        <paper-card id="card">
            <div class="card-content">
                <iron-image src="[[paciente.foto]]" sizing="cover" fade preload placeholder="/static/img/profile-none.png"></iron-image>
                <div class="info">
                    <h4><strong>[[nombreCompleto]]</strong></h4>
                    <p><small>[[paciente.tipo_documento]]: [[paciente.numero_documento]]</small></p>
                    <p><small>Edad: 23 años</small></p>
                </div>
            </div>
            <div class="card-actions">
                <a href="[[paciente.edit_link]]"><paper-icon-button icon="my-icons:edit"></paper-icon-button></a>
                <a href="[[paciente.ordenes_link]]"><paper-icon-button icon="my-icons:menu"></paper-icon-button></a>
            </div>
        </paper-card>
    </template>

    <script>
        /**
         * `paciente-info` Muestra la información de un paciente.
         * 
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PacienteInfo extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'paciente-info';
            }
        
            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    /**
                     * Datos del paciente
                     */
                    paciente: Object,

                    /**
                     * Description for prop
                     */
                    nombreCompleto: {
                        type: String,
                        computed: '_nombreCompleto(paciente.primer_nombre, paciente.segundo_nombre, paciente.primer_apellido, paciente.segundo_apellido)'
                    },

                    /**
                     * Permite que el ocupe todo el ancho del contenedor en donde se encuentre.
                     */
                    fullWidth: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },

                    /**
                     * Muestra el componente sin elevación.
                     */
                    flat: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    }
                };
            }
        
            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }
        
            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
        
                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            /** 
             * Computed method for the property nombreCompleto.
             * 
             * @param {string} primerNombre
             * @param {string} segundoNombre
             * @param {string} primerApellido
             * @param {string} segundoApellido
             * @return {string}
             */
            _nombreCompleto(primerNombre, segundoNombre, primerApellido, segundoApellido) {
                return `${primerNombre} ${segundoNombre} ${primerApellido} ${segundoApellido}`;
            }

            // TODO calcular la edad
            // function getAge(dateString) {
            //     var today = new Date();
            //     var birthDate = new Date(dateString);
            //     var age = today.getFullYear() - birthDate.getFullYear();
            //     var m = today.getMonth() - birthDate.getMonth();
            //     if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            //         age--;
            //     }
            //     return age;
            // }        
        }
        
        window.customElements.define(PacienteInfo.is, PacienteInfo);
    </script>
</dom-module>