<link rel="import" href="/static/bower_components/paper-card/paper-card.html">
<link rel="import" href="/static/bower_components/iron-image/iron-image.html">
<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/static/my-icons.html">

<dom-module id="paciente-info">
    <template>
        <style>
            :host {
                display: block;

                --paper-card: {
                    width: var(--paciente-info-width, 400px);
                };

                --paper-card-content: {
                    display: flex;
                };
            }

            :host([full-width]) {
                --paciente-info-width: 100%;
            }

            :host([flat]) paper-card {
                box-shadow: none;
                border: 1px solid #e8e8e8;
            }

            iron-image {
                width: 150px;
                height: 150px;
                margin-right: 20px;
            }

            .info > * {
                margin: 0px;
            }

            .card-actions > a {
                text-decoration: none;                
            }
        </style>

        <paper-card id="card">
            <div class="card-content">
                <iron-image src="[[paciente.foto]]" sizing="cover" fade preload placeholder="/static/img/profile-none.png"></iron-image>
                <div class="info">
                    <h4><strong>[[nombreCompleto]]</strong></h4>
                    <p><small>[[paciente.tipo_documento]]: [[paciente.numero_documento]]</small></p>
                    <p><small>Edad: [[_getEdad(paciente.fecha_nacimiento)]]</small></p>
                </div>
            </div>
            <div class="card-actions">
                <template is="dom-if" if="[[paciente.edit_link]]">
                    <a href="[[paciente.edit_link]]" title="Editar paciente">
                        <paper-icon-button icon="my-icons:edit"></paper-icon-button>
                    </a>
                </template>
                <template is="dom-if" if="[[paciente.ordenes_link]]">
                    <a href="[[paciente.ordenes_link]]" title="Crear orden">
                        <paper-icon-button icon="my-icons:add"></paper-icon-button>
                    </a>
                </template>
            </div>
        </paper-card>
    </template>

    <script src="/static/bower_components/moment/min/moment.min.js"></script>
    <script>
        /**
         * `paciente-info` Muestra la información de un paciente.
         * 
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PacienteInfo extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'paciente-info';
            }
        
            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    /**
                     * Datos del paciente
                     */
                    paciente: Object,

                    /**
                     * Description for prop
                     */
                    nombreCompleto: {
                        type: String,
                        computed: '_nombreCompleto(paciente.primer_nombre, paciente.segundo_nombre, paciente.primer_apellido, paciente.segundo_apellido)'
                    },

                    /**
                     * Permite que el ocupe todo el ancho del contenedor en donde se encuentre.
                     */
                    fullWidth: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },

                    /**
                     * Muestra el componente sin elevación.
                     */
                    flat: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    }
                };
            }
        
            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }
        
            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
        
                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            /** 
             * Computed method for the property nombreCompleto.
             * 
             * @param {string} primerNombre
             * @param {string} segundoNombre
             * @param {string} primerApellido
             * @param {string} segundoApellido
             * @return {string}
             */
            _nombreCompleto(primerNombre, segundoNombre, primerApellido, segundoApellido) {
                let nombre =  `${primerNombre} ${segundoNombre} ${primerApellido} ${segundoApellido}`;
                return nombre.toUpperCase();
            }

            /**
             * Calcula la edad del paciente
             * 
             * @param {string} fechaNacimiento
            */
            _getEdad(fechaNacimiento) {

                if (fechaNacimiento) {
                    let today = moment();
                    let birthDate = moment.utc(fechaNacimiento);

                    let age = today.year() - birthDate.year();
                    let dMonth = today.month() - birthDate.month();

                    if (age == 0 && dMonth == 0) {
                        return `${today.date() - birthDate.date()} Dias`;
                    }
                    else {
                        if (age == 0) {
                            return `${dMonth} Meses`;
                        }

                        if (dMonth < 0 || (dMonth == 0 && today.date() < birthDate.date())) {
                            age--;
                        }
                        
                        return `${age} Años`;
                    }
                }

                return '';
            }  
        }
        
        window.customElements.define(PacienteInfo.is, PacienteInfo);
    </script>
</dom-module>