<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/scheduler-component/scheduler-component.html">

<dom-module id="resource-scheduler">
    <link rel="import" type="css" href="/static/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="import" type="css" href="/static/bower_components/fullcalendar-scheduler/dist/scheduler.min.css">
    <script src="/static/bower_components/fullcalendar/dist/locale/es.js"></script>
    <script src="/static/bower_components/fullcalendar-scheduler/dist/scheduler.min.js"></script>
    <script>
        /**
         * `resource-scheduler` Resource scheduler.
         *
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class ResourceScheduler extends SchedulerComponent {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'resource-scheduler';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    /**
                     * Recursos a los cuales se les asignan eventos.
                     */
                    resources: {
                        type: Array,
                        value: () => { return []; },
                        observer: '_resourcesChanged'
                    },

                    backgroundEvents: {
                        type: Array,
                        value: () => { return []; },
                        observer: '_backgroundEventsChanged'
                    },

                    /**
                     * Vistas disponibles para el calendario.
                     */
                    views: {
                        type: Object,
                        value: () => { return {}; }
                    },

                    /** Duracion de los slots en el calendario */
                    slotDuration: {
                        type: String,
                        value: '00:30:00',
                        observer: '_slotDurationChanged'
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            /**
             * This will initialize the calendar component. Se sobrescribe para agregar los recursos.
            */
            _initialize() {
                this._config.schedulerLicenseKey = 'CC-Attribution-NonCommercial-NoDerivatives';
                this._config.resourceLabelText = 'Medicos'
                this._config.views = this.views;
                this._config.eventSources = [{
                    id: 'background',
                    rendering: 'background',
                    events: (start, end, timezone, callback) => {
                        callback(this.backgroundEvents);
                    }
                }];
                this._config.resources = (callback) => { 
                    callback(this.resources); 
                };
                this._config.dayClick = (date, jsEvent, view, resourceObj) => {
                    this.dispatchEvent(new CustomEvent('day-click', { detail: { date, jsEvent, view, resourceObj } }));
                }
                this._config.selectOverlap = (event) => {
                    this.dispatchEvent(new CustomEvent('select-overlap', { 
                        detail: { event, view: this.getView() } 
                    }));
                    return true;
                }

                super._initialize();
            }

            /*
            * Observer method for the defaultView attribute. Se sobrescribe para que no haga la verificación.
            *
            */
            _viewChanged(newValue, oldValue) {

            }

            /**
            * Observer method for resources property.
            * re-render resources on the scheduler when the resources property changes.
            */
            _resourcesChanged(newValue, oldValue) {
                if (oldValue) {
                    this._scheduler.fullCalendar('refetchResources');
                }
            }

            /**
            * Observer method for resources property.
            * re-render resources on the scheduler when the resources property changes.
            */
            _backgroundEventsChanged(newValue, oldValue) {
                if (this._scheduler) {
                    this._scheduler.fullCalendar('refetchEventSources', 'background');
                }
            }

            /**
            * Observer method for slotDuration property.
            * re-renders the scheduler when the slotDuration property changes.
            */
            _slotDurationChanged(newValue, oldValue) {
                if (this._scheduler) {
                    this.changeOptions({slotDuration: newValue});
                }
            }

            /**
            * Observer method for events property.
            * re-render events on the scheduler when the events property changes.
            * Override to work with other event sources.
            */
            _eventsChanged(newValue, oldValue) {
                // make sure that the oldValue is not undefined.
                // For thr first call, the newValue will have the currentValue of the property
                // oldValue will be undefined
                if (this._scheduler) {
                    this._removeEvents();
                    this._refetchEvents();
                    this._scheduler.fullCalendar('refetchEvents'); // Refetching other sources
                }
            }

            /**
            * Modifica dinamicamente opciones en el calendario.
            * 
            * @param {{opcion: value}} options Opciones a modificar. Ex: {locale: 'es', slotDuration: '00:30:00'}
            */
            changeOptions(options) {
                this._scheduler.fullCalendar('option', options);
            }

        }

        window.customElements.define(ResourceScheduler.is, ResourceScheduler);
    </script>
</dom-module>