{% extends "base.html" %}
{% load i18n %}


{% block imports %}
    <link rel="import" href="/static/bower_components/vaadin-grid/vaadin-grid.html">
    <link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
{% endblock imports %}

{% block content %}
    <vaadin-grid items='{{ sesiones }}'>
        <vaadin-grid-column>
            <template class="header">
                <div class="cell">{% trans 'Cédula' %}</div>
            </template>
            <template>
                <div class="cell">[[item.node.servicio.orden.paciente.numeroDocumento]]</div>
            </template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <div class="cell">{% trans 'Nombre' %}</div>
            </template>
            <template>
                <div class="cell">[[item.node.servicio.orden.paciente.nombres]] [[item.node.servicio.orden.paciente.apellidos]]</div>
            </template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <div class="cell">{% trans 'Servicio' %}</div>
            </template>
            <template>
                <div class="cell">[[item.node.servicio.servicio.nombre]]</div>
            </template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <div class="cell">{% trans 'Empresa' %}</div>
            </template>
            <template>
                <div class="cell">[[item.node.servicio.orden.plan.nombre]]</div>
            </template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <div class="cell"></div>
            </template>
            <template>
                <div class="cell last">
                    <a href="[[item.node.urlHistoria]]" tabindex="-1">
                        <paper-icon-button icon="my-icons:menu" title="{% trans 'Historias' %}"></paper-icon-button>
                    </a>
                </div>
            </template>
        </vaadin-grid-column>
    </vaadin-grid>
{% endblock content %}