{% extends "base.html" %}
{% load i18n static rest_framework common_tags %}

{% block imports %}
    <link rel="import" href="/static/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
    <link rel="import" href="/static/bower_components/vaadin-combo-box/vaadin-combo-box.html">
    <link rel="import" href="/static/bower_components/paper-dialog/paper-dialog.html">
    <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/static/bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="/static/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/static/components/agendar-cita.html">
{% endblock imports %}

{% block css %}
    <link rel='stylesheet' href='{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}' />
    <style>
        .filtros {
            display: flex;
        }

        .filtros > * {
            flex: 1;
            margin: auto 10px;
        }

        #cita-dialog {
            width: 75%;
        }
        
        #cita-dialog paper-dialog-scrollable {
            height: 500px;
        }
    </style>
{% endblock css %}

{% block content %}
    <header class="header-title">
        <h1>{% trans "agendar citas" %}</h1>
    </header>

    <div class="card">
        <div class="filtros">
            <vaadin-combo-box id="sucursales" label="{% trans 'Sucursal' %}" items='{{ sucursales }}'></vaadin-combo-box>
            <vaadin-combo-box id="medicos" label="{% trans 'Medico' %}" items='{{ medicos }}'></vaadin-combo-box>
        </div>
        <br><br>
        <iron-ajax id="save-event-request" url="{% url "agenda:citas" %}" method="POST" handle-as="json"
                content-type="application/json"></iron-ajax>
        <div id="calendar"></div>
    </div>
{% endblock content %}

{% block dialogs %}
    <agendar-cita tipos-documento='{{ form.fields.paciente.tipo_documento|to_json }}' 
        paciente-info-url="{% url 'agenda:persona-search' %}" new-cita-url="{% url 'agenda:citas' %}"
        servicios='{{ form.fields.servicio|to_json }}' estados='{{ form.fields.estado|to_json }}' 
        >
    </agendar-cita>
{% endblock dialogs %}

{% block js %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/locale/es.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

    <script>
        const calendar = $('#calendar');
        const medicosNode = document.getElementById('medicos');
        const sucursalesNode = document.getElementById('sucursales');
        const citaDialog = document.querySelector('agendar-cita');

        calendar.fullCalendar({
            header: {
                'left': 'prev,next, today',
                'center': 'title',
                'right': 'month,agendaWeek,agendaDay'
            },
            allDaySlot: false,
            slotLabelFormat: 'h(:mm)a',
            navLinks: true,
            selectable: true,
            eventSources: [
                {
                    url: '{% url "agenda:horario-atencion" %}',
                    headers: {ACCEPT: 'application/json'},
                    data: function() {
                        return dataEvents();
                    },
                    rendering: 'background'
                },
                {
                    url: '{% url "agenda:citas" %}',
                    headers: {ACCEPT: 'application/json'},
                    data: function() {
                        return dataEvents();
                    }
                }
            ],
            dayClick: function(date, jsEvent, view) {
                dayClick(date, jsEvent, view);
            },
            eventClick: function(calEvent, jsEvent, view) {
                console.log('event clicked');
                console.log(calEvent);
                showCita(calEvent);
            },
            selectOverlap: function(event) {
                if (calendar.fullCalendar('getView').name != 'month') {
                    if (event.source.rendering == 'background') {
                        console.log(event);
                        showCitaFromBgEvent(event);
                    }
                }
            }
        });

        medicosNode.addEventListener('selected-item-changed', function(e) {
            if (this.selectedItem != null) {
                cambiarDuracion(this.selectedItem);
            }

            refrescarEventos();
        });

        sucursalesNode.addEventListener('selected-item-changed', function(e) {
            refrescarEventos();
        });

        citaDialog.addEventListener('cita-saved', function(e) {
            console.log('cita guardada');
            console.log(e.detail);
            if (e.detail.redirecciona) {
                window.location = e.detail.redirecciona_link;
            }
            else {
                refrescarEventos();
            }
        });

        function cambiarDuracion(item) {
            if (item.duracion_cita != null) {
                calendar.fullCalendar('option', 'slotDuration', item.duracion_cita);
            }
        }

        function refrescarEventos() {
            calendar.fullCalendar('refetchEvents');
        }

        function dataEvents() {
            if (!medicosNode.selectedItem || !sucursalesNode.selectedItem) {
                return {
                    medico: 0,
                    sucursal: 0
                };
            }
            else {
                return {
                    medico: medicosNode.selectedItem.value,
                    sucursal: sucursalesNode.selectedItem.value,
                }
            }
        }

        function dayClick(date, event, view) {
            if (view.name == 'month') {  // If click on month view change to agendaWeek on the day clicked
                calendar.fullCalendar('changeView', 'agendaWeek', date.format());
            }
        }

        // --------- Cita Functions --------------------

        function showCitaFromBgEvent(event) {
            citaDialog.nuevaCita(event);
        }

        function showCita(event) {
            citaDialog.verCita(event);
        }
    </script>
{% endblock js %}