{% extends "base.html" %}
{% load i18n static rest_framework common_tags %}

{% block imports %}
    <link rel="import" href="/static/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
    <link rel="import" href="/static/bower_components/vaadin-combo-box/vaadin-combo-box.html">
    <link rel="import" href="/static/bower_components/paper-dialog/paper-dialog.html">
    <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
    <link rel="import" href="/static/bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="/static/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/static/components/agendar-cita.html">
{% endblock imports %}

{% block css %}
    <link rel='stylesheet' href='{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}' />
    <style>
        .filtros {
            display: flex;
        }

        .filtros > * {
            flex: 1;
            margin: auto 10px;
        }

        #cita-dialog {
            width: 75%;
        }
        
        #cita-dialog paper-dialog-scrollable {
            height: 500px;
        }
    </style>
{% endblock css %}

{% block content %}
    <header class="header-title">
        <h1>{% trans "agendar citas" %}</h1>
    </header>

    <div class="card">
        <div class="filtros">
            <vaadin-combo-box id="sucursales" label="{% trans 'Sucursal' %}" items='{{ sucursales }}'></vaadin-combo-box>
            <vaadin-combo-box id="medicos" label="{% trans 'Medico' %}" items='{{ medicos }}'></vaadin-combo-box>
        </div>
        <br><br>
        <iron-ajax id="save-event-request" url="{% url "agenda:citas" %}" method="POST" handle-as="json"
                content-type="application/json"></iron-ajax>
        <div id="calendar"></div>
    </div>
{% endblock content %}

{% block dialogs %}
    <agendar-cita tipos-documento='{{ form.fields.paciente.tipo_documento|to_json }}' paciente-info-url="{% url 'agenda:persona-search' %}"
        servicios='{{ form.fields.servicio|to_json }}' estados='{{ form.fields.estado|to_json }}' opened></agendar-cita>
    <iron-ajax id="get-paciente" url="{% url "agenda:persona-search" %}" handle-as="json"
                content-type="application/json"></iron-ajax>
    <paper-dialog id="cita-dialog" modal>
        <h2>{% trans "AGENDAR CITA" %}</h2>
        <paper-dialog-scrollable>
            <iron-form>
                <form action="{% url 'agenda:citas' %}" method="POST" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    {% render_form form template_pack='material-pack' %}
                </form>
            </iron-form>
        </paper-dialog-scrollable>   
        <div class="buttons">
            <paper-button dialog-dismiss>{% trans "Cancelar" %}</paper-button>
            <paper-button id="save-cita">{% trans "Guardar" %}</paper-button>
        </div>
    </paper-dialog>
{% endblock dialogs %}

{% block js %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/locale/es.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

    <script>
        const calendar = $('#calendar');
        const medicosNode = document.getElementById('medicos');
        const sucursalesNode = document.getElementById('sucursales');
        const citaDialog = document.getElementById('cita-dialog');
        const form = citaDialog.querySelector('iron-form');
        const citaDialog2 = document.querySelector('agendar-cita');
        let bEvent;

        calendar.fullCalendar({
            header: {
                'left': 'prev,next, today',
                'center': 'title',
                'right': 'month,agendaWeek,agendaDay'
            },
            allDaySlot: false,
            slotLabelFormat: 'h(:mm)a',
            navLinks: true,
            selectable: true,
            eventSources: [
                {
                    url: '{% url "agenda:horario-atencion" %}',
                    headers: {ACCEPT: 'application/json'},
                    data: function() {
                        return dataEvents();
                    },
                    rendering: 'background'
                },
                {
                    url: '{% url "agenda:citas" %}',
                    headers: {ACCEPT: 'application/json'},
                    data: function() {
                        return dataEvents();
                    }
                }
            ],
            dayClick: function(date, jsEvent, view) {
                dayClick(date, jsEvent, view);
            },
            eventClick: function(calEvent, jsEvent, view) {
                console.log('event clicked');
                console.log(calEvent);
                setFormEditarcita(calEvent.id);
                llenarCita(calEvent);
                citaDialog.open();
            },
            selectOverlap: function(event) {
                if (calendar.fullCalendar('getView').name != 'month') {
                    if (event.source.rendering == 'background') {
                        console.log(event);
                        bEvent = event;
                        // setFormCrearcita();
                        // limpiarCita();
                        // citaDialog.open();
                        showCitaFromBgEvent(event);
                    }
                }
            }
        });

        medicosNode.addEventListener('selected-item-changed', function(e) {
            if (this.selectedItem != null) {
                cambiarDuracion(this.selectedItem);
            }

            refrescarEventos();
        });

        sucursalesNode.addEventListener('selected-item-changed', function(e) {
            refrescarEventos();
        });

        citaDialog.querySelector('#save-cita').addEventListener('click', function(e) {
            if (form.validate()) {
                form.submit();
            }
        });

        citaDialog.addEventListener('iron-overlay-closed', function(e) {
            if(e.detail.confirmed) {
                //
            }
        });

        form.addEventListener('iron-form-presubmit', function(e) {
            console.log('presubmit');
            if (this.request.method == "POST") {
                this.request.body.horario = bEvent.id;
            }
            console.log(this.request.body);
        });

        form.addEventListener('iron-form-response', function(e) {
            console.log('cita creada');
            citaDialog.close();
            refrescarEventos();
        });

        form.querySelector('*[name="paciente.numero_documento"]').addEventListener('blur', function() {
            let request = document.getElementById('get-paciente');
            request.params = {numero_documento: this.value};
            request.generateRequest();
        });

        document.getElementById('get-paciente').addEventListener('response', function(e) {
            let pacientes = e.detail.response;
            if (pacientes.length > 0) {
                llenarInfoPaciente(pacientes[0]);
            }
        });

        function setFormCrearcita() {
            let innerForm = form.querySelector('form');
            innerForm.action = "{% url 'agenda:citas' %}";
            innerForm.method = 'POST';
        }

        function setFormEditarcita(id) {
            let innerForm = form.querySelector('form');
            innerForm.action = "{% url 'agenda:citas-detail' 0 %}".replace(id);
            innerForm.method = 'PUT';
        }

        function cambiarDuracion(item) {
            if (item.duracion_cita != null) {
                calendar.fullCalendar('option', 'slotDuration', item.duracion_cita);
            }
        }

        function refrescarEventos() {
            calendar.fullCalendar('refetchEvents');
        }

        function dataEvents() {
            if (!medicosNode.selectedItem || !sucursalesNode.selectedItem) {
                return {
                    medico: 0,
                    sucursal: 0
                };
            }
            else {
                return {
                    medico: medicosNode.selectedItem.value,
                    sucursal: sucursalesNode.selectedItem.value,
                }
            }
        }

        function dayClick(date, event, view) {
            if (view.name == 'month') {  // If click on month view change to agendaWeek on the day clicked
                calendar.fullCalendar('changeView', 'agendaWeek', date.format());
            }
        }

        // --------- Cita Functions --------------------

        function showCitaFromBgEvent(event) {
            citaDialog2.bgEvent = event.id;
            citaDialog2.fecha = event.start;
            // citaDialog2.cita = undefined;
            citaDialog2.open();
        }

        function llenarCita(cita) {
            form.querySelector('*[name="paciente.numero_documento"]').value = cita.paciente.numero_documento;
            form.querySelector('*[name="servicio"]').value = cita.servicio;
            form.querySelector('*[name="estado"]').value = cita.estado;
            llenarInfoPaciente(cita.paciente);
        }

        function llenarInfoPaciente(paciente) {
            form.querySelector('*[name="paciente.tipo_documento"]').value = paciente.tipo_documento;
            form.querySelector('*[name="paciente.nombres"]').value = paciente.nombres;
            form.querySelector('*[name="paciente.apellidos"]').value = paciente.apellidos;
            form.querySelector('*[name="paciente.telefono"]').value = paciente.telefono;
            form.querySelector('*[name="paciente.celular"]').value = paciente.celular;
        }

        function limpiarCita() {
            form.querySelector('*[name="paciente.numero_documento"]').value = '';
            form.querySelector('*[name="paciente.tipo_documento"]').value = '';
            form.querySelector('*[name="paciente.nombres"]').value = '';
            form.querySelector('*[name="paciente.apellidos"]').value = '';
            form.querySelector('*[name="paciente.telefono"]').value = '';
            form.querySelector('*[name="paciente.celular"]').value = '';
            form.querySelector('*[name="servicio"]').value = '';
            form.querySelector('*[name="estado"]').value = '';
        }
    </script>
{% endblock js %}