{% extends "base.html" %}
{% load i18n static %}

{% block imports %}
    <link rel="import" href="/static/bower_components/vaadin-combo-box/vaadin-combo-box.html">
    <link rel="import" href="/static/bower_components/polymer/lib/elements/dom-bind.html">
    <link rel="import" href="/static/bower_components/apollo-client/graphql-query.html">
    <link rel="import" href="/static/bower_components/show-json/show-json.html">
    <link rel="import" href="/static/bower_components/iron-ajax/iron-ajax.html">
{% endblock imports %}

{% block css %}
    <link rel='stylesheet' href='{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}' />
    <style>
        .filtros {
            display: flex;
        }

        .filtros > * {
            flex: 1;
            margin: auto 10px;
        }
    </style>
{% endblock css %}

{% block content %}
    <header class="header-title">
        <h1>{% trans "horario de atención" %}</h1>
        <small>{% trans "Ingresa el horario de atención que tendra un medico para atender pacientes en una sucursal." %}</small>
    </header>

    <dom-bind>
        <template>
            {% verbatim %}
            <graphql-query result="{{filtrosResult}}">
                query horarioAtencionFiltrosQuery{
                    sucursales {
                        edges {
                            node { id, nombre, pk }
                        }
                    }
                    medicos {
                        edges {
                            node { id, nombreCompleto, duracion, pk }
                        }
                    }
                }
            </graphql-query>
            {% endverbatim %}

            <div class="card">
                {% verbatim %}
                <div class="filtros">
                    <vaadin-combo-box id="sucursales" label="Sucursal" items="[[filtrosResult.sucursales.edges]]"
                        item-value-path="node.pk" item-label-path="node.nombre" selected-item="{{filtros.sucursalItem}}">
                    </vaadin-combo-box>
                    <vaadin-combo-box id="medicos" label="Medico" items="[[filtrosResult.medicos.edges]]"
                        item-value-path="node.pk" item-label-path="node.nombreCompleto" selected-item="{{filtros.medicoItem}}">
                    </vaadin-combo-box>
                    <!-- <show-json json="[[filtros]]"></show-json> -->
                </div>
                {% endverbatim %}
                <br><br>
                <iron-ajax id="save-event-request" url="{% url "agenda:horario-atencion" %}" method="POST" handle-as="json"
                        content-type="application/json"></iron-ajax>
                <div id="calendar"></div>
            </div>
        </template>
    </dom-bind>
{% endblock content %}

{% block js %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/locale/es.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    
    <script>
        (function(){
            const calendar = document.querySelector('resource-scheduler');
            const autoBind = document.querySelector('dom-bind');
            const queryNode = autoBind.$.horarioAtencionQuery;

            autoBind.filtros = {};
            autoBind._createMethodObserver('_getHorarioAtencion(filtros.sucursalItem, filtros.medicoItem)');

            autoBind._getHorarioAtencion = (sucursal, medico) => {
                if (medico) cambiarDuracion(medico);
                
                if (sucursal && medico) {
                    refrescarEventos();
                }
            }
        })();
        const calendar = $('#calendar');
        const medicosNode = document.getElementById('medicos');
        const sucursalesNode = document.getElementById('sucursales');

        calendar.fullCalendar({
            header: {
                'left': 'prev,next, today',
                'center': 'title',
                'right': 'month,agendaWeek,agendaDay'
            },
            allDaySlot: false,
            slotLabelFormat: 'h(:mm)a',
            navLinks: true,
            events: {
                url: '{% url "agenda:horario-atencion" %}',
                headers: {ACCEPT: 'application/json'},
                data: function() {
                    return dataEvents();
                }
            },
            dayClick: function (date, jsEvent, view) {
                dayClick(date, jsEvent, view);
            }
        });

        function cambiarDuracion(item) {
            if (item.node.duracion != null) {
                calendar.fullCalendar('option', 'slotDuration', item.node.duracion);
            }
        }

        function refrescarEventos() {
            calendar.fullCalendar('refetchEvents');
        }

        function dataEvents() {
            if (!medicosNode.selectedItem || !sucursalesNode.selectedItem) {
                return {
                    medico: 0,
                    sucursal: 0
                };
            }
            else {
                return {
                    medico: medicosNode.value,
                    sucursal: sucursalesNode.value,
                }
            }
        }

        function dayClick(date, event, view) {
            if (view.name == 'month') {  // If click on month view change to agendaWeek on the day clicked
                calendar.fullCalendar('changeView', 'agendaWeek', date.format());
            }
            else {
                if (!medicosNode.selectedItem || !sucursalesNode.selectedItem) {
                    alert('Por favor escoge un medico y una sucursal');
                }
                else {
                    let event = createEvent(date);
                    saveEvent(event);
                }
            }
        }

        function createEvent(date) {
            const FORMAT = 'YYYY-MM-DD HH:mm';
            let duracion = moment.duration(medicosNode.selectedItem.node.duracion);
            let event = {
                start: date.format(FORMAT),
                end: date.add(duracion).format(FORMAT),
                medico: medicosNode.value,
                sucursal: sucursalesNode.value,
            }

            return event;
        }

        const saveEventRequest = document.getElementById('save-event-request');
        function saveEvent(event) {            
            saveEventRequest.headers = {'X-CSRFToken': getCsrfToken()}
            saveEventRequest.body = event;
            saveEventRequest.generateRequest();
        }

        saveEventRequest.addEventListener('response', function(e) {
            console.log('response');
            console.log(e.detail.response);
            refrescarEventos();
        });

        saveEventRequest.addEventListener('error', function(e) {
            console.log('error');
        });
    </script>
{% endblock js %}