{% extends "base.html" %}
{% load rest_framework i18n %}

{% block html_imports %}
    <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
{% endblock html_imports %}

{% block content %}

    <div class="card">
        <h1>{{ VERBO }} Paciente</h1>

        <form method="POST">
            {% csrf_token %}

            <fieldset>
                <legend>{% trans "Datos Personales" %}</legend>

                {% render_form serializer template_pack='material-pack' %}

                <br>
                <paper-button raised>{{ VERBO }}</paper-button>
            </fieldset>
        </form>
    </div>
{% endblock content %}

{% block js %}
    <script>
        document.querySelector('paper-button').addEventListener('click', function(){
            document.querySelector('form').submit();
        });
    </script>
{% endblock js %}