{% load i18n %}
<dom-bind>
    <template>
        <graphql-query id="sesionesQuery" hold>
            query sesionesDia($fecha: String){
                sesiones(fecha: $fecha) {
                    edges {
                        node {
                            id
                            fecha
                            urlOrden
                            terminada
                            estadoDisplay
                            servicio {
                                servicio { nombre }
                                orden {
                                    paciente { primerNombre, primerApellido, numeroDocumento }
                                    plan { nombre }
                                }
                            }
                            medico { nombreCompleto }
                        }
                    }
                }
            }
        </graphql-query>

        <div class="card">
            <vaadin-date-picker label="Fecha" value="{% now 'Y-m-d' %}" required error-message="Debes escoger una fecha">
            </vaadin-date-picker>
            <div hidden="[[_haySesiones(sesiones)]]">No existen ordenes activas en la fecha escogida.</div>
        </div>
        <vaadin-grid id="sesionesGrid" items="[[sesiones]]">
            <vaadin-grid-column>
                <template class="header">{% trans 'Cédula' %}</template>
                <template>
                    <div done$="[[item.node.terminada]]">[[item.node.servicio.orden.paciente.numeroDocumento]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">{% trans 'Nombre' %}</template>
                <template>
                    <div done$="[[item.node.terminada]]">
                        [[item.node.servicio.orden.paciente.primerNombre]] [[item.node.servicio.orden.paciente.primerApellido]]
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">{% trans 'Servicio' %}</template>
                <template>
                    <div done$="[[item.node.terminada]]">[[item.node.servicio.servicio.nombre]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">{% trans 'Empresa' %}</template>
                <template>
                    <div done$="[[item.node.terminada]]">[[item.node.servicio.orden.plan.nombre]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column flex-grow="0">
                <template class="header">{% trans "Hora" %}</template>
                <template>
                    <div done$="[[item.node.terminada]]">[[_formatHora(item.node.fecha)]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column flex-grow="0">
                <template class="header">{% trans "Orden" %}</template>
                <template>
                    <div done$="[[item.node.terminada]]">[[item.node.servicio.orden.plan.nombre]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column flex-grow="0">
                <template class="header">{% trans "Médico" %}</template>
                <template>
                    <div done$="[[item.node.terminada]]">[[item.node.medico.nombreCompleto]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column flex-grow="0">
                <template class="header">Historia</template>
                <template>
                    <div style="display: flex;">
                        <a title="historia" href="[[item.node.urlOrden]]" tabindex="-1">
                            <paper-icon-button icon="my-icons:menu" title="{% trans 'Historia' %}"></paper-icon-button>
                        </a>
                    </div>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>
</dom-bind>

 {% block js %}
<script src="/static/bower_components/moment/min/moment.min.js"></script>
<script>
    (function () {
        const autoBind = document.querySelector('dom-bind');

        autoBind._formatHora = (fecha) => {
            return moment.utc(fecha).format('hh:mm A');
        }

        autoBind._haySesiones = (sesiones) => {
            return sesiones.length != 0;
        }

        const datePicker = document.querySelector('vaadin-date-picker');
        const sesionesQuery = document.getElementById('sesionesQuery');

        getSesiones();

        datePicker.addEventListener('value-changed', function () {
            if (datePicker.value == '') {
                datePicker.invalid = true;
                autoBind.sesiones = [];
            }
            else {
                datePicker.invalid = false;
                getSesiones();
            }
        })

        function getSesiones() {
            sesionesQuery.variables = { fecha: datePicker.value };
            sesionesQuery.execute().result().then(result => {
                autoBind.sesiones = result.data.sesiones.edges;
            });
        }
    })();
</script> {% endblock js %}