{% extends "base.html" %}

{% block imports %}
<link rel="import" href="/static/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/static/bower_components/apollo-client/graphql-query.html">
<link rel="import" href="/static/bower_components/polymer/lib/elements/dom-bind.html">
<link rel="import" href="/static/bower_components/vaadin-material-theme/vaadin-grid.html">  
{% endblock imports %}

{% block content %}
    <header class="header-title">
        <h1>Dashboard</h1>
    </header>

    
{% endblock content %}