<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/static/bower_components/paper-button/paper-button.html">
<link rel="import" href="/static/bower_components/apollo-client/graphql-query.html">
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/moment/min/moment.min.js"></script>
<script src="/static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/static/bower_components/fullcalendar/dist/locale/es.js"></script>

<dom-module id="agenda-citas">
    <link rel="import" type="css" href="/static/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <template>
        <style>
            :host {
                display: block
            }

            paper-dialog {
                width: 60%;
                height: 75%;
            }

            #parent {
                height: 70%;
            }
        </style>

        <graphql-query id="query" variables="[[_queryVariables(documento, fecha)]]" hold>
            query ($documento: String, $fechaInicial: String){
                citas(noAsociadaOrden: true, documentoPaciente: $documento, fechaInicial: $fechaInicial) {
                    edges {
                        node {
                            id
                            start
                            end
                            title
                            paciente { nombreCompleto }
                            servicio { id, nombre } 
                            horario {
                                medico { id, nombreCompleto }
                                sucursal { id }
                            }
                        }
                    }
                }
            }
        </graphql-query>

        <paper-dialog id="dialog" on-iron-overlay-opened="_renderCalendar">
            <h2>Citas No Asociadas</h2>
            <div id="parent">
                <div id="calendar"></div>
            </div>
            <div class="actions">
                <paper-button dialog-dismiss>Cerrar</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>
        class AgendaCitas extends Polymer.Element {

            static get is() { return 'agenda-citas'; }

            static get properties() {
                return {
                    citas: {
                        type: Array,
                        value() {
                            return []
                        }
                    },
                    documento: {
                        type: String,
                        value: ''
                    },
                    fecha: {
                        type: Date,
                        value: ''
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
                Polymer.RenderStatus.afterNextRender(this, () => {
                    this._initialize();
                });
            }

            _initialize() {
                let calendar = this.$.calendar;
                this._jCalendar = jQuery(calendar);
                this._jCalendar.fullCalendar({
                    header: {
                        'left': 'prev,next, today',
                        'center': 'title',
                        'right': 'listMonth'
                    },
                    defaultView: 'listMonth',
                    height: 'parent',
                    views: {
                        listWeek: {
                            buttonText: 'Semana'
                        },
                        listDay: {
                            buttonText: 'Dia'
                        }
                    },
                    eventSources: [
                        {
                            events: (start, end, timezone, callback) => {
                                let oQuery = this.$.query.execute();
                                // console.log(oQuery);
                                oQuery.result().then(result => {
                                    let citas = this._normalizeCitas(result.data.citas.edges);
                                    callback(citas);
                                });
                            }
                        }
                    ],
                    eventClick: (event, jsEvent, view) => {
                        this.dispatchEvent(new CustomEvent('cita-selected', {detail: event}));
                        this.close();
                    }
                });
            }

            _renderCalendar() {
                this._jCalendar.fullCalendar('render');
            }

            _queryVariables(documento, fecha) {
                return {
                    documento: documento,
                    fechaInicial: fecha
                }
            }

            _normalizeCitas(citas) {
                let normalizeCitas = []
                citas.forEach(element => {
                    element.node.title = `${element.node.servicio.nombre} - ${element.node.horario.medico.nombreCompleto}`;
                    normalizeCitas.push(element.node);
                });

                return normalizeCitas;
            }

            open() {
                this.$.dialog.open();
            }

            close() {
                this.$.dialog.close();
            }

        }

        window.customElements.define(AgendaCitas.is, AgendaCitas);
    </script>
</dom-module>