<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/static/components/vaadin-grid-material-styles.html">

<dom-module id="detalle-servicio">
    <template>
        <style include="vaadin-grid-material-styles">
            :host {
                display: block
            }
        </style>

        <vaadin-grid items='[{"servicio": "sfsfsfs"}, {"servicio": "sfsfsfs"}]'>
            <vaadin-grid-column>
                <template class="header">
                    <div class="cell">Fecha</div>
                </template>
                <template>
                    <div class="cell">[[item.servicio]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    <div class="cell">Estado</div>
                </template>
                <template>
                    <div class="cell">[[item.servicio]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    <div class="cell">Autorización</div>
                </template>
                <template>
                    <div class="cell">[[item.servicio]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    <div class="cell">Fecha de autorización</div>
                </template>
                <template>
                    <div class="cell">[[item.servicio]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    <div class="cell">Sucursal</div>
                </template>
                <template>
                    <div class="cell">[[item.servicio]]</div>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

    </template>

    <script>
        class DetalleServicio extends Polymer.Element {

            static get is() { return 'detalle-servicio'; }

            static get properties() {
                return {
                    
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

        }

        window.customElements.define(DetalleServicio.is, DetalleServicio);
    </script>
</dom-module>