<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/static/bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="/static/bower_components/apollo-client/graphql-query.html">
<link rel="import" href="/static/bower_components/paper-input/paper-input.html">
<link rel="import" href="/static/bower_components/iron-form/iron-form.html">
<link rel="import" href="/static/bower_components/show-json/show-json.html">

<dom-module id="orden-form">
    <template>
        <style>
            :host {
                display: block;
            }

            .row {
                display: flex;
            }

            .row > * {
                flex: 1;
                margin-right: 5px;
            }
        </style>

        <graphql-query id="planesQuery" variables="[[_queryVariables(value.institucion.value)]]" result="{{planesResult}}">
            query planesQuery($institucion: ID){
                planes(institucion: $institucion) {
                    edges {
                        node {
                            id
                            label
                        }
                    }
                }
            }
        </graphql-query>

        <iron-form id="form">
            <form>
                <div class="row">
                    <vaadin-combo-box label="Entidad que prestará el servicio*" required items="[[instituciones]]" auto-validate
                        selected-item="{{value.institucion}}" value="[[value.institucionValue]]" readonly="[[readonly]]">
                    </vaadin-combo-box>
                    <vaadin-combo-box label="Entidad*" required items="[[planesResult.planes.edges]]" value="[[value.planValue]]"
                        item-value-path="node.id" item-label-path="node.label" selected-item="{{value.plan}}" 
                        readonly="[[readonly]]" auto-validate>
                    </vaadin-combo-box>
                </div>
                <div class="row">
                    <vaadin-combo-box label="Afiliación*" required items="[[afiliaciones]]" readonly="[[readonly]]"
                        selected-item="{{value.afiliacion}}" value="[[value.afiliacionValue]]" auto-validate>
                    </vaadin-combo-box>
                    <vaadin-combo-box label="tipo de usuario*" required items="[[tiposUsuario]]" readonly="[[readonly]]"
                        selected-item="{{value.tipoUsuario}}" value="[[value.tipoUsuarioValue]]" auto-validate>
                    </vaadin-combo-box>
                </div>
                <div class="row">
                    <paper-toggle-button checked="{{value.asistio}}" disabled="[[readonly]]">
                        Asistio con acompañante
                    </paper-toggle-button>
                </div>
                <div class="row" id="acompananteInputs">
                    <paper-input label="Nombre completo" value="{{value.nombreCompleto}}" readonly="[[readonly]]" auto-validate>
                    </paper-input>
                    <paper-input label="Dirección" value="{{value.direccion}}" readonly="[[readonly]]" auto-validate></paper-input>
                    <paper-input label="Telefono" value="{{value.telefono}}" readonly="[[readonly]]" auto-validate></paper-input>
                </div>
            </form>
        </iron-form>
        <!-- <show-json json="[[value]]"></show-json> -->

    </template>

    <script>
        /**
         * `orden-form` Formulario con los datos especificos de una orden y su acompañante.
         *
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class OrdenForm extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'orden-form';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    instituciones: Array,
                    afiliaciones: Array,
                    tiposUsuario: Array,
                    value: {
                        type: Object,
                        value() {
                            return {};
                        }
                    },
                    readonly: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    }     
                };
            }

            static get observers() {
                return [
                    '_acompananteObligatorio(value.asistio)', '_cleanTelefonoValue(value.telefono)',
                    '_notifyServicio(value.institucion, value.plan)'
                ];
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            _queryVariables(institucion) {
                return { institucion };
            }

            _getPlanesLabel(plan) {
                console.log(plan);
                return `${ plan.cliente.nombre } - ${ plan.nombre }`;
            }

            _acompananteObligatorio(obligatorio) {
                if(obligatorio != undefined) {
                    let inputs = this.$.acompananteInputs.querySelectorAll('paper-input');
                    [...inputs].forEach(input => {
                        input.required = obligatorio;
                        let label = input.label;
                        if(obligatorio) {
                            input.label = `${label}*`;
                        }
                        else {
                            input.value = '';
                            if(label.substr(label.length - 1) == '*') {
                                input.label = label.substring(0, label.length - 1);
                            }
                        }
                    });
                }
            }

            _cleanTelefonoValue(value) {
                if(value == '') {
                    this.set('value.telefono', null);
                }
            }

            _notifyServicio(institucion, plan) {
                if(institucion != null || plan != null) {
                    this.dispatchEvent(new CustomEvent(
                        'institucion-plan-changed', {detail: {institucion, plan}}
                    ));
                }
            }

            validate() {
                return this.$.form.validate();
            }

        }

        window.customElements.define(OrdenForm.is, OrdenForm);
    </script>
</dom-module>