<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/iron-form/iron-form.html">
<link rel="import" href="/static/bower_components/paper-input/paper-input.html">
<link rel="import" href="/static/bower_components/apollo-client/graphql-query.html">
<link rel="import" href="/static/bower_components/paper-time-input/paper-time-input.html">
<link rel="import" href="/static/bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="/static/bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="/static/bower_components/show-json/show-json.html">

<dom-module id="servicio-form">
    <template>
        <style>
            :host {
                display: block
            }

            .row {
                display: flex;
                align-items: flex-end;
            }

            .row > * {
                flex: 1;
                margin-right: 10px;
            }
        </style>

        <graphql-query id="query" variables="[[_queryVariables(institucion, plan)]]" result="{{queryResult}}">
            query ($plan: ID, $institucion: ID){
                servicios(planes: [$plan]) {
                    edges {
                        node {
                            id
                            nombre
                            tarifas(plan: $plan) {
                                edges {
                                    node {
                                        valor
                                    }
                                }
                            }
                        }
                    }
                }
                medicos(instituciones: [$institucion]) {
                    edges {
                        node {
                            id
                            nombreCompleto
                        }
                    }
                }
                sucursales {
                    edges {
                        node {
                            id
                            nombre
                        }
                    }
                }
            }
        </graphql-query>
        
        <iron-form id="form">
            <form>
                <div class="row">
                    <vaadin-combo-box name="sucursal" label="Sucursal" items="[[queryResult.sucursales.edges]]" required 
                        auto-validate value="{{value.sucursal}}" selected-item="{{value.sucursalItem}}"
                        item-label-path="node.nombre" item-value-path="node.id">
                    </vaadin-combo-box>
                    <vaadin-combo-box name="medico" label="Medico*" required items="[[queryResult.medicos.edges]]" 
                        auto-validate value="{{value.medico}}" selected-item="{{value.medicoItem}}"
                        item-label-path="node.nombreCompleto" item-value-path="node.id">
                    </vaadin-combo-box>
                    <vaadin-combo-box name="servicio" label="Servicio*" required items="[[queryResult.servicios.edges]]" 
                        auto-validate value="{{value.servicio}}" selected-item="{{value.servicioItem}}"
                        item-label-path="node.nombre" item-value-path="node.id">
                    </vaadin-combo-box>
                </div>
                <div class="row">
                    <vaadin-date-picker name="fecha" label="Fecha*" required auto-validate value="{{value.fecha}}">
                    </vaadin-date-picker>
                    <paper-input type="time" name="hora" label="Hora*" required value="{{value.hora}}"></paper-input>

                    </paper-time-input>
                    <paper-input name="autorización" label="Autorización" value="{{value.autorizacion}}"></paper-input>
                    <vaadin-date-picker name="fecha_autorizacion" label="Fecha autorización" 
                        value="{{value.fecha_autorizacion}}">
                    </vaadin-date-picker>
                </div>
                <div class="row">
                    <paper-input name="numero_sesiones" label="# de sesiones*" type="number" required 
                        auto-validate min="1" value="{{value.numero_sesiones}}">
                    </paper-input>
                    <paper-input name="valor" label="Valor de la sesión*" type="number" required 
                        auto-validate min="0" value="{{value.valor}}">
                    </paper-input>
                    <paper-input name="coopago" label="Coopago/Moderadora" type="number" auto-validate min="0" 
                        value="{{value.coopago}}">
                    </paper-input>
                </div>                
            </form>
        </iron-form>

        <div class="row">
            <show-json json="[[value]]"></show-json>
            <show-json json="[[cita]]"></show-json>
        </div>
    </template>

    <script>
        class ServicioForm extends Polymer.Element {

            static get is() {
                return 'servicio-form';
            }

            static get properties() {
                return {
                    institucion: {
                        type: String,
                        value: "SW5zdGl0dWNpb246MQ=="
                    },
                    plan: {
                        type: String,
                        value: "UGxhbjoy"
                    },
                    cita: {
                        type: Object,
                        observer: '_citaProvided'
                    },
                    value: {
                        type: Object,
                        value() {
                            return {};
                        }
                    }
                };
            }

            static get observers() {
                return ['_setValorServicio(value.servicioItem)'];
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            _queryVariables(institucion, plan) {
                return {
                    institucion: institucion,
                    plan: plan
                }
            }

            _citaProvided(newValue, oldValue) {
                if (newValue != undefined) {
                    let v = {};
                    v.sucursal = newValue.horario.sucursal.id;
                    v.medico = newValue.horario.medico.id;
                    v.servicio = newValue.servicio.id;
                    if (!moment.isMoment(newValue.start)) {
                        v.fecha = moment(newValue.start).format('YYYY-MM-DD');
                        v.hora = moment(newValue.start).format('HH:mm');
                    }
                    else {
                        v.fecha = newValue.start.format('YYYY-MM-DD');
                        v.hora = newValue.start.format('HH:mm');
                    }

                    this.set('value', v);
                }
            }

            _setValorServicio(servicio) {
                if (servicio) {
                    this.set('value.valor', servicio.node.tarifas.edges[0].node.valor);
                }
            }

            validate() {
                return this.$.form.validate();
            }
        }

        window.customElements.define(ServicioForm.is, ServicioForm);
    </script>
</dom-module>