<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/vaadin-material-theme/vaadin-grid.html">
<link rel="import" href="/static/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/static/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/static/bower_components/apollo-client/graphql-query.html">
<link rel="import" href="/static/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/static/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/static/my-icons.html">

<dom-module id="historia-clinica-historias">
    <template>
        <style>
            :host {
                display: block;
                background-color: white;
            }
        </style>

        <graphql-query id="query" hold>
            query historialPaciente($paciente: ID!){
                historias(paciente: $paciente) {
                    edges {
                        node {
                            id
                            contenido
                            sesionUrl
                            sesion {
                                id
                                pk
                                fecha
                                medico { nombreCompleto }
                                servicio {
                                    servicio { nombre }
                                }
                            }
                        }
                    }
                }
            }
        </graphql-query>

        <div class="content">
            <vaadin-grid items={{historias}}>
                <vaadin-grid-column>
                    <template class="header">Fecha</template>
                    <template>[[_formatFecha(item.sesion.fecha)]]</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">Servicio</template>
                    <template>[[_formatTextUpper(item.sesion.servicio.servicio.nombre)]]</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">Medico</template>
                    <template>[[_formatTextUpper(item.sesion.medico.nombreCompleto)]]</template>
                </vaadin-grid-column>             
                <vaadin-grid-column flex-grow="0">
                    <template class="header"></template>
                    <template>
                        <div style="display: flex;">
                            <template is="dom-if" if="[[!_isActualSesion(item.sesion.pk)]]">
                                <a href="[[ item.sesionUrl ]]" tabindex="-1">
                                    <paper-icon-button icon="my-icons:remove-red-eye"></paper-icon-button>
                                </a>
                            </template>
                        </div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>
        </div>
    </template>

    <script src="/static/bower_components/moment/min/moment.min.js"></script>
    <script>
        /**
        * `historia-clinica-historias` Historial de las historias clinicas de un paciente.
        *
        * @customElement
        * @polymer
        * @extends {Polymer.Element}
        */
        class HistoriaClinicaHistorias extends Polymer.Element {

            static get is() { return 'historia-clinica-historias'; }

            static get properties() {
                return {
                    url: String,
                    paciente: {
                        type: String,
                        value: ''
                    },
                    result: {
                        type: Object,
                        readOnly: true
                    },
                    sesion: {
                        type: Number,
                        value: NaN
                    },
                    historias: Array
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
                Polymer.RenderStatus.afterNextRender(this, function() {
                    this.$.query.variables = { paciente: this.paciente };
                    let response = this.$.query.execute();
                    response.result().then(result => {
                        this.historias = this._normalizeHistorias(result.data.historias.edges);
                    });
                });
            }

            _normalizeHistorias(historias) {
                return historias.map(function(element) {
                    return element.node;
                }, this);
            }

            /**
            * Formatea la fecha.
            */
            _formatFecha(fecha) {
                return moment.utc(fecha).format("DD/MM/YYYY hh:mm A");
            }

            /**
            * Verifica que el id de la sesion pasada, sea igual a la sesion actual.
            */
            _isActualSesion(sesionPk) {
                return sesionPk === this.sesion;
            }

            /**
            * Formatea el texto a mayuscula.
            */
            _formatTextUpper(text) {
                return text.toUpperCase();
            }

        }

        window.customElements.define(HistoriaClinicaHistorias.is, HistoriaClinicaHistorias);
    </script>
</dom-module>