<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/static/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/static/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="/static/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="historia-clinica-content.html">
<link rel="import" href="historia-clinica-anexos.html">

<dom-module id="historia-clinica">
    <template>
        <style>
            :host {
                display: block;
                /*--paper-tabs-selection-bar-color: var(--app-primary-color);*/
            }

            paper-tabs {
                background: white;
            }

            paper-tab {
                text-transform: uppercase;
            }

            paper-tab.invalid {
                color: var(--error-color);
            }

            .header {
                background-color: white;
                border-bottom: 1px solid #e8e8e8;
                text-transform: uppercase;
                text-align: center;
                padding: 10px;
            }
        </style>

        <div class="header">[[servicio]]</div>

        <paper-tabs id="tabs" selected="{{selected}}" scrollable>
            <template is="dom-repeat" items="[[formato]]">
                <paper-tab>[[item.nombre]]</paper-tab>
            </template>
            <paper-tab>Anexos</paper-tab>
        </paper-tabs>

        <iron-pages id="pages" selected="{{selected}}">
            <template is="dom-repeat" items="[[formato]]">
                <historia-clinica-content on-close-historia="_close" on-validate-historia="_checkValidity" fields=[[item.fields]]></historia-clinica-content>
            </template>
            <historia-clinica-anexos></historia-clinica-anexos>
        </iron-pages>

    </template>

    <script>
        class HistoriaClinica extends Polymer.Element {

            static get is() { return 'historia-clinica'; }

            static get properties() {
                return {
                    formato: {
                        type: Array,
                        value() {
                            return [
                                {nombre: 'Anamnesis Alimentaria', fields: [
                                    {tipo: 'textarea', nombre: 'Desayuno', required: true},
                                    {tipo: 'switch', nombre: 'Habitos intestinales'},
                                    {tipo: 'text', nombre: 'Medias mañanas', required: true},
                                    {tipo: 'select', nombre: 'Apetito', options: [
                                        {value: 1, label: 'Bueno'},
                                        {value: 2, label: 'Malo'},
                                        {value: 3, label: 'Regular'}
                                    ], required: true},    
                                ]}
                            ]; // Tabs array
                        } // Value
                    },

                    selected: {
                        value: 9
                    }, 

                    servicio: {
                        type: String,
                        value: 'historia clinica'
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {

                });
            }

            _checkValidity(e) {
                let index = this.$.pages.indexOf(e.target);
                if (e.target.invalid) {
                    this.$.tabs.items[index].classList.add('invalid');
                }
                else {
                    this.$.tabs.items[index].classList.remove('invalid');
                }
            }

            _close(e) {
                console.log(e);
                let valid = true;
                let historias = this.shadowRoot.querySelectorAll('historia-clinica-content');
                [].slice.call(historias).forEach(function(element) {
                    if (!element.validate()) {
                        valid = false;
                    }
                });

                if (valid) {
                    this.dispatchEvent(new CustomEvent('save-historia', {detail: {terminada: true}}));
                }
            }
        }

        window.customElements.define(HistoriaClinica.is, HistoriaClinica);
    </script>
</dom-module>