<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/static/bower_components/paper-input/paper-input.html">
<link rel="import" href="/static/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/static/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/static/bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="/static/bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="historia-clinica-relationship-field.html">

<dom-module id="historia-clinica-field">
    <template>
        <style>
            :host {
                display: block
            }

            h3 {
                border-bottom: 1px solid #eee;
                padding-bottom: 9px;
            }
        </style>

        <template is="dom-if" if="[[_isInput(field.tipo)]]">
            <paper-input id="input" auto-validate type=[[field.tipo]] label="[[field.nombre]]" 
                         value="{{field.value}}" required="[[field.required]]">
            </paper-input>            
        </template>
        <template is="dom-if" if="[[_isTextArea(field.tipo)]]">
            <paper-textarea id="input" auto-validate label="[[field.nombre]]" value="{{field.value}}"
                            required="[[field.required]]" rows="4">
            </paper-textarea>
        </template>
        <template is="dom-if" if="[[_isTitulo(field.tipo)]]">
            <h3>[[field.nombre]]</h3>
        </template>
        <template is="dom-if" if="[[_isSwitch(field.tipo)]]">
            <paper-toggle-button id="input" checked="{{field.checked}}" value="{{field.value}}">
                [[field.nombre]]
            </paper-toggle-button>
        </template>
        <template is="dom-if" if="[[_isDate(field.tipo)]]">
            <vaadin-date-picker id="input" auto-validate label=[[field.nombre]] value="{{field.value}}"
                                required="[[field.required]]">
            </vaadin-date-picker>
        </template>
        <template is="dom-if" if="[[_isSelect(field.tipo)]]">
            <vaadin-combo-box id="input" auto-validate label="[[field.nombre]]" value="{{field.value}}"
                                required="[[field.required]]" items="[[field.options]]">
            </vaadin-combo-box>
        </template>
        <template is="dom-if" if="[[_isRelacion(field.tipo)]]">
            <historia-clinica-relationship-field id="input" field="[[field]]"></historia-clinica-relationship-field>
        </template>
    </template>

    <script>
        class HistoriaClinicaField extends Polymer.Element {

            static get is() { return 'historia-clinica-field'; }

            static get properties() {
                return {
                    field: Object,
                    name: {
                        type: String,
                        readOnly: true,
                        reflectToAttribute: true
                    }
                };
            }

            ready() {
                super.ready();
                this._setName(this.field.nombre);
                Polymer.RenderStatus.afterNextRender(this, function() {
                    this._input = this.shadowRoot.querySelector('#input');
                });
            }

            get value() {
                return this.field.value;
            }

            set value(value) {
                this._input.value = value;
            }

            get checked() {
                return this.field.checked;
            }

            set checked(value) {
                this._input.checked = value;
            }

            _isInput(tipo) {
                return tipo == 'text' || tipo == 'number';
            }

            _isTextArea(tipo) {
                return tipo == 'textarea';
            }

            _isTitulo(tipo) {
                return tipo == 'titulo';
            }

            _isSwitch(tipo) {
                return tipo == 'switch';
            }

            _isDate(tipo) {
                return tipo == 'date';
            }

            _isSelect(tipo) {
                return tipo == 'select';
            }

            _isRelacion(tipo) {
                return tipo == 'relacion';
            }

            validate() {
                if(!this._isTitulo(this.field.tipo) && !this._isSwitch(this.field.tipo)) {
                    return this._input.validate();
                }

                return true;
            }
        }

        window.customElements.define(HistoriaClinicaField.is, HistoriaClinicaField);
    </script>
</dom-module>