<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/static/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="historia-clinica-field.html">
<link rel="import" href="historia-clinica-table-field.html">

<dom-module id="historia-clinica-content">
    <template>
        <style>
            :host {
                display: block;
                padding: 16px;
                background-color: white;
            }
        </style>

        <template is="dom-repeat" items="{{fields}}" as="field">
            <template is="dom-if" if="[[!_isTableField(field.tipo)]]">
                <historia-clinica-field field=[[field]]></historia-clinica-field>
            </template>
            <template is="dom-if" if="[[_isTableField(field.tipo)]]">
                <historia-clinica-table-field field=[[field]]></historia-clinica-table-field>            
            </template>
        </template>

    </template>

    <script>
        class HistoriaClinicaContent extends Polymer.Element {

            static get is() { return 'historia-clinica-content'; }

            static get properties() {
                return {
                    fields: {
                        type: Array
                    }                    
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            _isTableField(tipo) {
                return tipo == 'table'
            }
        }

        window.customElements.define(HistoriaClinicaContent.is, HistoriaClinicaContent);
    </script>
</dom-module>