<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/vaadin-upload/vaadin-upload.html">

<dom-module id="historia-clinica-anexos">
    <template>
        <style>
            :host {
                display: block;
                background-color: white;
            }

            .content {
                padding: 16px;
            }

            .actions {
                border-top: 1px solid #e8e8e8;
                padding: 5px 16px;
            }
        </style>

        <div class="content">
            <vaadin-upload id="upload" on-upload-response="response"></vaadin-upload>
            <button type="button" on-click="as"></button>
        </div>        

    </template>

    <script>
        class HistoriaClinicaAnexos extends Polymer.Element {

            static get is() { return 'historia-clinica-anexos'; }

            static get properties() {
                return {
                    
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            as() {
                console.log('bototn');
                let upload = this.$.upload;
                let files = upload.files;
                console.log(files[0]);

                // files[0];
            }

            response(e) {
                console.log(e);
            }

        }

        window.customElements.define(HistoriaClinicaAnexos.is, HistoriaClinicaAnexos);
    </script>
</dom-module>