<link rel="import" href="/static/bower_components/polymer/polymer-element.html">
<link rel="import" href="/static/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/static/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/static/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="/static/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="historia-clinica-content.html">

<dom-module id="historia-clinica">
    <template>
        <style>
            :host {
                display: block;
                /*--paper-tabs-selection-bar-color: var(--app-primary-color);*/
            }

            paper-tabs {
                background: white;
            }

            paper-tab {
                text-transform: uppercase;
            }

            paper-tab.invalid {
                color: var(--error-color);
            }
        </style>

        <paper-tabs id="tabs" selected="{{selected}}" scrollable>
            <template is="dom-repeat" items="[[formato]]">
                <paper-tab>[[item.nombre]]</paper-tab>
            </template>
        </paper-tabs>

        <iron-pages id="pages" selected="{{selected}}">
            <template is="dom-repeat" items="[[formato]]">
                <historia-clinica-content on-validate-historia="_checkValidity" fields=[[item.fields]]></historia-clinica-content>
            </template>
        </iron-pages>

    </template>

    <script>
        class HistoriaClinica extends Polymer.Element {

            static get is() { return 'historia-clinica'; }

            static get properties() {
                return {
                    formato: {
                        type: Array,
                        value() {
                            return [
                                {nombre: 'Anamnesis Alimentaria', fields: [
                                    {tipo: 'textarea', nombre: 'Desayuno', required: true},
                                    {tipo: 'textarea', nombre: 'Medias mañanas', required: true},                                 
                                    {tipo: 'textarea', nombre: 'Almuerzo', required: true},
                                    {tipo: 'textarea', nombre: 'Medias tardes', required: true},
                                    {tipo: 'textarea', nombre: 'Cena', required: true},
                                    {tipo: 'textarea', nombre: 'Colacion nocturna', required: true},
                                    {tipo: 'textarea', nombre: 'Alimentos rechazados', required: true},
                                    {tipo: 'textarea', nombre: 'Alimentos preferidos', required: true}
                                ]},
                                {nombre: 'Habitos', fields: [
                                    {tipo: 'select', nombre: 'Apetito', options: [
                                        {value: 1, label: 'Bueno'},
                                        {value: 2, label: 'Malo'},
                                        {value: 3, label: 'Regular'}
                                    ], required: true},
                                    {tipo: 'select', nombre: 'Masticación', options: [
                                        {value: 1, label: 'Bueno'},
                                        {value: 2, label: 'Malo'},
                                        {value: 3, label: 'Regular'}
                                    ], required: true},
                                    {tipo: 'select', nombre: 'Digestión', options: [
                                        {value: 1, label: 'Bueno'},
                                        {value: 2, label: 'Malo'},
                                        {value: 3, label: 'Regular'}
                                    ], required: true},
                                    {tipo: 'switch', nombre: 'Habitos intestinales'},
                                    {tipo: 'switch', nombre: 'Fuma?'},
                                    {tipo: 'switch', nombre: 'Bebe?'},
                                    {tipo: 'select', nombre: 'Ingesta de agua', options: [
                                        {value: 1, label: 'Bueno'},
                                        {value: 2, label: 'Malo'},
                                        {value: 3, label: 'Regular'}
                                    ], required: true},
                                ]},
                                {nombre: 'Diagnostico', fields: [
                                    {tipo: 'select', nombre: 'Diagnostico nutricional', options: [
                                        {value: 1, label: 'Peso sano'},
                                        {value: 2, label: 'Sobrepeso tipo 1'},
                                        {value: 3, label: 'Sobrepeso tipo 2'},
                                        {value: 4, label: 'Obesidad grado 1'},
                                        {value: 5, label: 'Obesidad grado 2'},
                                        {value: 6, label: 'Obesidad morbida'}
                                    ], required: true},
                                    {tipo: 'textarea', nombre: 'Plan de manejo', required: true}
                                ]}
                            ]; // Tabs array
                        } // Value
                    },

                    selected: {
                        value: 1
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {

                });
            }

            _checkValidity(e) {
                console.log(e);
                console.log(e.target);
                console.log(e.composedPath());
                let index = this.$.pages.indexOf(e.target);
                if (e.target.invalid) {
                    this.$.tabs.items[index].classList.add('invalid');
                }
                else {
                    this.$.tabs.items[index].classList.remove('invalid');
                }
            }
        }

        window.customElements.define(HistoriaClinica.is, HistoriaClinica);
    </script>
</dom-module>