{% load rest_framework %}

<link rel="import" href="/static/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/static/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/static/bower_components/paper-item/paper-item.html">
<link rel="import" href="/static/bower_components/neon-animation/web-animations.html">

{{ field.iter_options }}
<paper-dropdown-menu label="{{ field.label }}" data-name="{{ field.name }}" 
                     {% if field.required %} required {% endif %}
                     {% if field.errors %} error-message="{{ field.errors|join:',' }}" invalid {% endif %}>
  <paper-listbox slot="dropdown-content" attr-for-selected="data-value" 
                 {% if field.value %} selected="{{ field.value }}" {% endif %}>
    {% for select in field.iter_options %}
      <paper-item data-value="{{ select.value }}">{{ select.display_text }}</paper-item>
    {% endfor %}
  </paper-listbox>
</paper-dropdown-menu>

<div class="form-group" style="display:none;">
  <select class="form-control" name="{{ field.name }}">
    <option value="">--------</option>
    {% for select in field.iter_options %}
        {% if select.start_option_group %}
          <optgroup label="{{ select.label }}">
        {% elif select.end_option_group %}
          </optgroup>
        {% else %}
          <option value="{{ select.value }}" {% if select.value|as_string == field.value|as_string %}selected{% endif %}>{{ select.display_text }}</option>
        {% endif %}
    {% endfor %}
  </select>
</div>
